---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

$purple: #17097c;
$seagreen: #209bb9;
$lightgrey: #8c91c4;
$darkgrey: #424680;
$lightblue: #6cb5ca;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

@font-face {
    font-family: "AvantGardeBold";
    src: url('/css/fonts/AvantGarde-Bold.woff2') format('woff2');
}

@font-face {
    font-family: "/css/TradeGothic";
    src: url('/css/fonts/TradeGothic-Regular.woff2') format('woff2');
}

* {
  font-family: "TradeGothic", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, a {
  user-select: none;
}

h1 {
  margin: 0;
  padding: 0;
}

section .section-title {
  color: white;
  text-align: center;
  padding: 25px 0;
  width: 100%;
  font-size: 3rem;
}

.navigation {
  background-color: #6cb5ca;
  box-shadow: 0 0px #6cb5ca;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  background-color: $lightblue;
}

.navigation .logo img {
  max-height: 35px;
}

.page-content {
  margin-top: 0px;
}

.navigation li.nav-link a {
  font-family: "AvantGardeBold";
  text-decoration: none;
  color: white;
  padding: 20px 0px;
  background-color: transparent;
  transform: scaleY(0);
  transition: background-color 200ms;
  width: auto;
  display: contents;
}

#introducing {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 40px;
  color: $purple;
}

#introducing .left {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 40px;
  text-align: center;
}

#introducing .right {
    width: 100%;
    text-align: center;
}

#introducing .left .word-logo {
  max-height: 4vw;
  min-height: 80px;
  margin: 0 auto;
  width: auto;
}

#introducing .left .section-title {
  color: $purple;
  font-size: 3rem;
  padding: 0;
  text-align: center;
}

#services {
  padding-bottom: 40px;
}

#services .section-title {
  background: $seagreen;
}

@media (min-width: $large) {

  #introducing {
    flex-flow: row;
    width: 80%;
    padding-top: 30px;
  }

  #introducing .left,
  #introducing .right {
    width: 50%;
  }

  #introducing .left {
    padding-bottom: 20px;
    text-align: left;
  }

  #introducing .right {
    padding-bottom: 20px;
    text-align: right;
  }

  #introducing .left .word-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: -14px;
  }

  #introducing .left .section-title {
    margin: 10px 0;
  }

  #services {
    padding-bottom: 40px;
  }

  .navigation {
    background-color: #6cb5ca;
    box-shadow: 0 2px #6cb5ca;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    padding: 10px 0;
    background-color: $lightblue;
    font-size: 1.2rem;
  }

  .navigation .logo img {
    max-height: 75px;
  }

  .site-footer .wrapper .footer-logo img {
    width: 250px;
  }

  .navigation .logo img,
  .site-footer .wrapper .footer-logo img {
    height: auto;
    margin-top: 0px;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  .navigation li.nav-link a {
    margin-right: 50px;
    width: initial;
    padding: 5px 2px;
    transform: scaleY(1);
    position: relative;
    padding: 5px 2px;
    margin-right: 50px;
    width: auto;
    display: inline;

    &:last-child{
        padding: 5px 2px;
        margin-right: 50px;
        width: auto;

    }

    &::after {
      content: '';
      transform: scaleX(0);
      background-color: $purple;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform 150ms;
      border-radius: 5px;
    }

    &:hover {
      background-color: transparent;
      &::after {
        transform: scaleX(1);
        height: 3px;
        text-decoration: none;
      }
    }

  }

  .page-content {
    margin-top: 66px;
  }

  #copyright {
    text-align: left;
    padding: 5px 50px;
  }
}

.navigation .navigation-wrapper {
  max-width: none;
}

#js-mobile-menu {
  color: $purple;
}

.site-header-container .scrim.has-cover, .post-header-container .scrim.has-cover {
  background-color: rgba(0, 0, 0, 0);
  height: 43vw;
  margin-top: -95px;
}

#hero {
  height: calc(0.44 * 100vw);
  width: 100vw;
  overflow: hidden;
  background-color: $lightblue;
  background-image: url("../images/raft-hero-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;

  img {
    width: 100%;
    display: none;
  }
}

@media (min-width: $medium) {
  #hero {
    height: auto;
    background-image: url("../images/header-image.jpg");
    background-size: cover;
  }
}

@media (min-width: $large) {
  #hero {
    height: auto;
    background-image: url("../images/header-image.jpg");
    background-size: cover;
  }
}

@media (min-width: 1470px) {
  #hero {
    height: calc(0.43 * 100vw);
  }
}

.page {
  margin-top: 30px;
}

.site-footer {
  background-color: $purple;
  border-top: 25px solid $lightblue;
  font-size: 1.3rem;
  padding: 0.25em;
}

.site-footer .site-contact {
  font-size: 1.3rem;
  line-height: normal;
}

.site-footer .wrapper {
  max-width: 100%;
  text-align: center;
  margin: 10px ;
}

.site-footer .wrapper .site-contact a .fa {
  font-size: 30px;
  padding-top: 10px;
  margin-right: 10px;
}


.site-footer .wrapper .site-contact .address-footer-double a .fa {
  margin-right: 10px;
  font-size: unset;
}

.site-footer .wrapper .site-contact a:hover {
  text-decoration: none;
  color: $lightblue;
}

.address-footer {
  padding-bottom: 30px;
}

.address-footer-double {
  padding-bottom: 60px;
  text-align: left;
  display: inline-block;
}

.footer-logo img {
  padding-top: 5%;
}

#copyright {
  display: block;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background: #8c91c4;
  text-align: left;
  padding-left: 10px ;
}
