---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

$purple: #17097c;
$seagreen: #209bb9;
$lightgrey: #8c91c4;
$darkgrey: #424680;
$lightblue: #6cb5ca;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

@font-face {
    font-family: "AvantGardeBold";
    src: url('./fonts/AvantGarde-Bold.woff2') format('woff2');
}

* {
  font-family: "Circular",sans-serif;
  box-sizing: border-box;
}

p, h2, ul {
  color: $purple;
}

.about {
  margin-bottom: 40px;
}

.blog-post {
  padding-top: 20px;
}

h2 {
  font-weight: 700;
}


a {
  text-decoration: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, a {
  user-select: none;
}

h1 {
  margin: 0;
  padding: 0;
}

section .section-title {
  color: white;
  text-align: center;
  padding: 25px 0;
  width: 100%;
  font-size: 3rem;
}

.navigation {
  background-color: rgba(255,255,255,0.1);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  box-shadow: none;
}

.navigation .logo img {
  max-height: 35px;
}

.page-content {
  margin-top: 0px;
}

.active {
  border-bottom: 3px solid white;

}

.navigation li.nav-link a {
  font-family: "AvantGardeBold";
  text-decoration: none;
  color: white;
  padding: 20px 0px;
  background-color: transparent;
  transform: scaleY(0);
  transition: background-color 200ms;
  width: auto;
  display: contents;
}

#introducing {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 40px;
  color: $purple;
}

#introducing .left {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 40px;
  text-align: center;
}

#introducing .right {
    width: 100%;
    text-align: center;
}

#introducing .left .word-logo {
  max-height: 4vw;
  min-height: 80px;
  margin: 0 auto;
  width: auto;
}

#introducing .left .section-title {
  color: $purple;
  font-size: 3rem;
  padding: 0;
  text-align: left;
  font-weight: 700;
}

.line {
  background-color: #00a5db;
  display: block;
  height: 2px;
  margin: 10px 0 20px;
  transition: all .2s linear;
  width: 30px;
}

#introducing .left .h5 {
    color: #00a5db;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: .12em;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}

@media (min-width: $large) {

  #introducing {
    flex-flow: row;
    width: 80%;
    padding-top: 30px;
  }

  #introducing .left,
  #introducing .right {
    width: 50%;
  }

  #introducing .left {
    padding-bottom: 20px;
    text-align: left;
  }

  #introducing .right {
    padding-bottom: 20px;
    text-align: right;
  }

  #introducing .left .word-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: -14px;
  }

  #introducing .left .section-title {
    margin: 10px 0;
  }

  .navigation {
    background-color: rgba(255,255,255,0.0);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    padding: 10px 0;
    font-size: 1.2rem;
  }

  .navigation .logo img {
    max-height: 75px;
  }

  .site-footer .wrapper .footer-logo img {
    width: 250px;
  }

  .navigation .logo img,
  .site-footer .wrapper .footer-logo img {
    height: auto;
    margin-top: 0px;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  .navigation li.nav-link a {
    margin-right: 50px;
    width: initial;
    padding: 5px 2px;
    transform: scaleY(1);
    position: relative;
    padding: 5px 2px;
    margin-right: 50px;
    width: auto;
    display: inline;

    &:last-child{
        padding: 5px 2px;
        margin-right: 50px;
        width: auto;

    }

    &::after {
      content: '';
      transform: scaleX(0);
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform 150ms;
      border-radius: 5px;
    }

    &:hover {
      background-color: transparent;
      &::after {
        transform: scaleX(1);
        height: 3px;
        text-decoration: none;
      }
    }

  }

  #copyright {
    text-align: left;
    padding: 5px 50px;
  }

  .card {
    max-width: 90%;
  }

  .card-img {
    max-width: 20%;
    float: left;
  }

  .row {
    margin: 0 auto;
  }

  .page-content .wrapper {
    max-width: 70em;
  }
}

.invert {
  background-color: $darkgrey;
  color: white;
}

.invert a {
  color: #4affef;
}

.navigation .navigation-wrapper {
  max-width: none;
}

#js-mobile-menu {
  color: $purple;
}

.site-header-container .scrim.has-cover, .post-header-container .scrim.has-cover {
  background-color: rgba(0, 0, 0, 0);
  height: 43vw;
  margin-top: -95px;
}

.scrim {
  text-align: center;
  display: table;
  width: 100%;
}

.hero-header {
  display: table-cell;
  vertical-align: middle;
}

#hero {
  height: auto;
  width: 100vw;
  overflow: hidden;
  background-color: $purple;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  img {
    width: 100%;
    display: none;
  }
}

.about-hero {
  -webkit-filter: grayscale(66%); /* Safari 6.0 - 9.0 */
  filter: grayscale(66%);
}

.about-cover {
  height: 25vw;
}

@media (min-width: $medium) {
  #hero {
    height: auto;
    background-size: cover;
  }

  .fullhome {
    height: 50vw !important;
  }
}

@media (min-width: $large) {
  #hero {
    height: auto;
    background-size: cover;
  }
}

.page {
  margin-top: 30px;
}

.services-page {
  background-color: #f4f6f9;
  padding-top: 30px;
}
.first {
  margin-bottom: 30px;
}
.second {
  margin-bottom: 15px;
}

.exp {
  padding-left: 138px;
}

.exp > p {
  padding-left: 10px;
  color: #6e6e6e;
}


.site-footer {
  background-color: $purple;
  border-top: 25px solid $lightblue;
  font-size: 1.3rem;
  padding: 0.25em;
}

.site-footer .site-contact {
  font-size: 1.3rem;
  line-height: normal;
}

.site-footer .wrapper {
  max-width: 100%;
  text-align: center;
  margin: 10px ;
}

.site-footer .wrapper .site-contact a .fa {
  font-size: 30px;
  padding-top: 10px;
  margin-right: 10px;
}


.site-footer .wrapper .site-contact .address-footer-double a .fa,
.contact-icons {
  margin-right: 10px;
  font-size: unset;
}

.contact-icons{
  font-size: 20px;
}

.contact-map {
  width: 100% !important;
  height: 100%;
}

.site-footer .wrapper .site-contact a:hover {
  text-decoration: none;
  color: $lightblue;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px;
  text-align: left;

}

.flexbox > div {
  box-sizing: border-box;
  margin-bottom: 30px;
  width: calc(1/2*100% - (1 - 1/2)*75px);
}

.address-footer-double {
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 60px;
  text-align: left;
  display: inline-block;
}

.footer-logo img {
  padding-top: 5%;
}

#copyright {
  display: block;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background: #8c91c4;
  text-align: left;
  padding-left: 10px ;
}

$speed: 300ms;

#services {
  padding-bottom: 40px;

  .section-title {
    background: $seagreen;
  }

  .grid {
    background-color: red;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    color: $purple;
    width: 100%;
    margin: 0 auto;

    a {
      color: $purple;
      text-decoration: none;
      text-align: center;
      width: 100%;
      margin: 0;
    }

    .card {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      width: 100%;
      cursor: pointer;
      transition: transform $speed ease-in;
      transform: scale(1);

      .title {
        text-align: center;
        white-space: nowrap;
      }

      img.circle {
        width: 35vw;
        transition: transform $speed ease-out, box-shadow $speed ease-out;
        transform: scale(1);
        margin: 40px auto 15px auto;
        border-radius: 50%;
        border: 2px solid white;
      }

      &:hover {
        transform: scale(1.05);
        img.circle {
          border: 2px solid $lightgrey;
          box-shadow: 0 0 10px black;
        }
      }
    }
  }
}

@media (min-width: $medium) {
  #services {
    padding-bottom: 70px;
    .cards {
      flex-flow: row wrap;
      a {
        width: 34%;
      }

      .card {
        img.circle {
          margin: 50px auto 15px auto;
          width: 15vw;
        }
      }
    }
  }
}

@media (min-width: $xlarge) {
  #services {
    padding-bottom: 40px;
    .cards {
      flex-flow: row wrap;
      margin-top: 11px;

      a {
        max-width: 24%;
      }

      .card {
        img.circle {
          width: 15vw;
        }
      }
    }
  }
}


#clients {
  .section-title {
    color: $purple;
    font-size: 2.75rem;
  }

  .logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 20px auto 50px auto;

    .logo {
      border-radius: 50%;
      width: 8vw;
      height: 8vw;
      background-color: $darkgrey;

      img {
        height: 100%;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: $medium) {
  #clients {
    .section-title {
      font-size: 3.5rem;
    }
    .logos {

      .logo {
        width: 8vw;
        height: 8vw;
        background-color: #fff;
      }

    }
  }
}

.leadership {
  background-color: $lightgrey;
  color: white;
}

.aboutCEOrow{
  display: flex;
}

.ceoImage {
  width: auto;
  padding: 0px 40px;
  border-radius: 50%;
  min-width: 290px;
}

.ceoImage h5 {
  padding-top: 10px;
}

.ceoImage img {
  border-radius: 50%;
}

.ceoText{
  flex-grow: 1;
}

/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-featimg {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-featimg img {
	width: auto;
	display: block;
  height: 175px;
  margin: 0 auto;
}

.card-featimg span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-featimg span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
  margin: 5px;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

@media(min-width: $medium) {
  .container {
    width: 1170px;
  }
}

.home {
  width: 90% !important;
  margin: 0 auto;
  padding: 30px 0;
  flex: 1;
}


.card-featimg {
  width: auto;
  display: block;
  height: 175px;
  margin: 0 auto;
}
/* End card section */

.page-content .post .share_header {
  font-weight: bold;
  margin: 0 0 1em 0;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}


.page-content .post .share_header a {
  width: 1em;
  padding: 0 0.25em;
  text-decoration: none;
  color: white;
}

.page-content img {
  width: auto;
}

.shared_header_icon {
  color: white;
}

.post-date {
  font-size: 20px;
  padding-bottom: 10px;
}

#services .cards .card {
  border: none;
}

.service-h2 {
  text-align: center;
  color: $purple;
  font-weight: 700;
  font-size: 2.5em;
}

.service-h3 {
  padding: 10px 0px;
  text-align: left;
  color: $purple;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: -5px;
}

.service-border {
  border: 1px solid #e4e4e4;
}

.service-txt {
  padding: 10px;
  color: #6e6e6e;
}

.service-logos {
  display: flex;
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  right: 25%;
  margin-top: 10px;
}

.button {
text-decoration: none;
    line-height: 1;
    color: inherit;
    border: 0;
    outline: 0;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-property: color,background-color,-webkit-transform,-webkit-box-shadow;
    -webkit-transition-property: color,background-color,box-shadow,-webkit-transform;
    transition-property: color,background-color,box-shadow,-webkit-transform;
    transition-property: color,background-color,transform,box-shadow;
    transition-property: color,background-color,transform,box-shadow,-webkit-transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    text-align: center;
    padding: 15px 25px;
    margin-top: 5px;
    color: #fff;
    background-color: #23103a;
    border: 1px solid #8bd2dc;
    border-radius: 150px;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #00a5db;
    color: #251b85;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
}
