<h2 class="invert">Why Should I go Raft?</h2>
<p class="invert">
You can’t create cutting edge technology if you’re stuck in a traditional model. That’s why we threw it out and started from scratch.
</p>
<p class="invert">
We put our people and our culture first. Our people are our greatest resource and our culture is what supports and protects them. We work with some of the
smartest, hardest working experts in their field. We owe it to them to make sure our team is free of meaningless restrictions and internal politics so they can focus
on what they love, finding innovative solutions.
</p>
<p class="invert">
We like to have fun, after all, solving complex problems requires a relaxed environment where the mind is free to wander and find non-linear solutions.
That’s why we never take ourselves too seriously, but we always take our work seriously.
</p>
<p class="invert">
We build off the Open-Source and resist vendor lock in. That way you’re not paying us to reinvent the wheel, our solutions play nice with others
and are always adaptable.
</p>
<p class="invert">
We know digital innovation doesn’t always operate during bank hours, so neither do we. We aren’t afraid to go the
extra mile or put in the extra time to find a solution. We get it right the first time; we won’t waste our time (and your money) trying to fix something that’s fundamentally broken. It’s kind of like making an exceptional
cup of coffee, if the beans are roasted wrong, it doesn’t matter how much pumpkin spice you dump in your cup, it’s still not going to taste great.
</p>
<p class="invert">
And above all else we’re up for a challenge; it’s in our DNA. Ask us to something that’s never been done, or better yet something that can’t be done,
and we’ll find a way to do. It’s just who we are.
</p>
<p class="invert">
If you need a partner that’s looking toward the future and not the past, don’t go traditional, go Raft.
</p>
