<h2>Our Experience</h2>
<p>
Our experience building scalable software solutions ranges from application, platform, data, and UI/UX level. Our experience is demonstrable via actual expertise (open source contributions and public facing tools) as opposed to using buzzwords. We work as Prime contractors on both civilian and federal efforts and are one of the few small businesses with experience in managing public facing K8s clusters, building scalable applications, and converting paper based forms into progressive mobile applications.
<ul>
<li><strong>Object Detection</strong> - Created cutting edge algorithms capable of detecting real time objects in aerial imagery to aid  airmen (SpaceEye).</li>
<li><strong>Pivotal PaaS</strong> - Made complex applications work with Pivotal Container Service (PKS) by creating custom buildpacks in the open source capable of being built and run in air gapped environments and leveraging shared services such as Single Sign On, AWS, and PostgreSQL.
</li>
<li><strong>AWS Commercial Cloud Services (C2S)</strong> - Contributed to software solutions on the low-side that run on the high-side (build low, deploy high) using DevSecOps practices.</li>
  <li><strong>Cloud Native Platforms</strong> - Built on open source tools such as Kubernetes, Buildah, Podman, EFK, Prometheus, Kafka, etc. and free of any vendor lock-in.
</li>
  <li><strong>Product Development</strong> - Created progressive, public facing, mobile first applications using human centered design principles. Additionally, created scalable backend applications capable of collecting over 40M records of data in short span of 60 days.</li>
  <li><strong>Open Source</strong> - Contributed to the open source communities by sharing discoveries, creating tools, and sending pull requests.
</li>
</ul>
</p>
