<h2>Our Experience</h2>
<p>
Our experience building scalable software solutions comprises of both application level, platform level, and data level. Our experience is demonstrable via actual expertise as opposed to using buzz words without understanding what they actually mean.
<ul>
<li>We’ve been involved in making cutting edge object detection algorithms capable of detecting objects, in real time, in aerial imagery and focused on helping airmen (SpaceEye)</li>
<li>We’ve been involved in making complex applications work with Pivotal Cloud Foundry (PCF) by creating custom buildpacks in the open source capable of being built and run in air gapped environments.</li>
<li>We’ve been involved in building software solutions on the low-side that run on AWS Commercial Cloud Solutions (C2S) on the high-side using DevSecOps practices.</li>
<li> We’ve been involved in creating cloud native platforms built on open source tools such as Kubernetes, Buildah, Podman, EFK, Prometheus, Kafka etc. and free of any vendor lock-in.</li>
<li>We’ve been involved in creating progressive public facing mobile first applications using human centered design principles.</li>
<li>We’ve been involved in contributing back to the open source by sharing our learnings, creating tools, and sending pull requests.</li>

</ul>
</p>
