<h2 >Our Interview Process</h2>
<p >We're selective in our hiring. We look for the right culture fit, same energy level, eagerness to learn, and exemplary client delivery. We have a three step interview process:
	<ul >
		<li>We schedule a 15 minute phone screening with one of our engineers to talk about our needs and your experience</li>
		<li>If feedback from the phone screening is positive, we schedule a 1 hour video conference call or in-person interview with our engineering team. We have an open conversation about technology, problems we're working on, and collaboratively work on a problem to gauge your problem solving skills.</li>
		<li>If feedback from the interview is positive, we schedule a call to go over the benefits package, compensation, etc.</li>
	</ul>

</p>
