<h2>Our Vehicles</h2>
<p>
	<ul>
		<li><strong>SBA 8(a) - <a href="https://www.acquisition.gov/content/part-19-small-business-programs#i1099848">FAR Subpart 19.8</a></strong></li>
		<li><strong>Woman Owned Small Business (WOSB) - <a href="https://www.acquisition.gov/content/part-19-small-business-programs#i1099174">FAR Subpart 19.8</a></strong></li>
		<li><strong>GSA IT 70 - 47QTCA18D003V</strong></li>
		<li><strong>AFWERX - SBIR - Phase 1</strong></li>
		<li><strong>DUNS - 080033961</strong></li>
	</ul>
</p>
