<h2>Platform Operations</h2>
<div class="work-row">
	<div id="problem">
		<img src="/assets/platform_ops2.png"></img>
	</div>
	<div id="solution">
		<p><strong>Challenge</strong></p>
		<p class="text">Our team was tasked with building, maintaining, and scaling a mission critical public facing application. The application is meant to be used by over 15k users to submit over 40M records of data in only 60 days. Additionally, the application is expected to have significant surge in traffic.</p>
		<p><strong>Solution</strong></p>
		<p class="text">Our team took a holistic approach to meet the unique needs of the application -- from both application and infrastructure level. We architected a cloud native platform on Kubernetes using microservices with baked in security. At the platform level our team avoided vendor lock-in by provided a flexible architecture and working with open source CNCF solutions for log aggregation, alerting/monitoring, chaos testing, and security (container level and microservice level). At the application layer, our team built a caching layer using redis, enabled faster writes with cassandra, fault tolerance using Hystrix, and concurrency using Scala. Utilizing this architecture, we built a platform with low latency and high throughput capable of handling the expected surge.</p>
		<p><strong>Techniques</strong></p>
		<p class="text">Open Source Development, Agile Development (2 week sprints), Istio as sidecar, Infrastructure as Code (IaC), Upstream Kubernetes, EFK, Prometheus, Grafana, Redis, Immutable Infrastructure, GitOps, Profiling.</p>
	</div>
</div>