<h2>DevSecOps</h2>
<div class="work-row reverse">
	<div id="problem">
		<img src="/assets/devsecops.png"></img>
	</div>
	<div id="solution">
		<p><strong>Challenge</strong></p>
		<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur mi volutpat dui commodo tempor. Integer nec faucibus ipsum. Nullam sagittis mattis eros quis pharetra. Suspendisse potenti. Nulla libero est, facilisis vitae libero in, vulputate varius lorem. Phasellus et lacus at magna volutpat convallis eu et ligula. Proin facilisis neque id dui blandit laoreet.</p>
		<p><strong>Solution</strong></p>
		<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur mi volutpat dui commodo tempor. Integer nec faucibus ipsum. Nullam sagittis mattis eros quis pharetra. Suspendisse potenti. Nulla libero est, facilisis vitae libero in, vulputate varius lorem. Phasellus et lacus at magna volutpat convallis eu et ligula. Proin facilisis neque id dui blandit laoreet.</p>
		<p><strong>Techniques</strong></p>
		<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur mi volutpat dui commodo tempor. Integer nec faucibus ipsum. Nullam sagittis mattis eros quis pharetra. Suspendisse potenti. Nulla libero est, facilisis vitae libero in, vulputate varius lorem. Phasellus et lacus at magna volutpat convallis eu et ligula. Proin facilisis neque id dui blandit laoreet.</p>
	</div>
</div>