---
layout: default
---

<div class="home-section-1 section-1">
  <div class="container">
    <h1>
      We’re not your average digital consulting firm. We are engineers of the
      future. Artists of change. Dedicated to building solutions that actually
      work.
    </h1>
  </div>
  <video
    src="/assets/videos/header.mp4"
    autoplay
    muted
    class="header-video"
    loop
    playsinline
  ></video>
</div>

<div class="home-section-2">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12 mb-5">
        <a href="/focus-areas" class="focus-area-link">
          <h2>
            Raft helps public agencies solve hard complex problems that impact
            the lives of millions of Americans, working to hard to make it easy
            for Humans to <i class="space-mono-text">connect</i> with data.
          </h2>
          <p>Learn about our Focus Areas</p>
        </a>
      </div>
      <div class="col-md-2 d-none-sm"></div>
      <div class="col-md-4 col-sm-12">
        <div class="text-block">
          <h4>At Raft, we think difficult is fun...</h4>
          <h5>
            <span class="bracket">[</span> We thrive in complexity
            <span class="bracket">]</span>
          </h5>
          <p>
            We work on advanced advanced features and functionality that require
            specialized skills in software architecture, UX/UI design, and
            automated testing. We work closely with operators and end users to
            transform mission workflows and specialize in modernizing legacy
            applications and data systems for speed and scale.
          </p>

          <h5>
            <span class="bracket">[</span> We are data driven
            <span class="bracket">]</span>
          </h5>
          <p>
            We are architects of the data-centric and AI era. We have end-to-end
            experience working with government and commercial partners to
            establish sustainable data governance strategies, implement
            federated data ecosystems, and adopt human-centered AI systems that
            reduce cognitive load and augment decision making. We believe in AI
            for good.
          </p>

          <h5>
            <span class="bracket">[</span> We are customer obsessed
            <span class="bracket">]</span>
          </h5>
          <p>
            We are experts and trusted partners across the product lifecycle -
            from initial concept to operationalizing the final product. By
            creating products driven by user outcomes instead of features, we
            empower organizations with solutions to meet and exceed your goals.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-section-3">
  <div class="container-fluid waveframe-wrapper">
    <div class="container">
      <ul class="list-unstyled waveframe-text-list">
        <li>
          <span class="space-mono-text">U.S. Air Force</span> //
          <span class="ubuntu-text">Complex App Development</span>
        </li>
        <li>
          <span class="space-mono-text"
            >U.S. Air Force Digital Modernization</span
          >
          // <span class="ubuntu-text">Platforms at Scale</span>
        </li>
        <li>
          <span class="space-mono-text">Data Fabric</span> //
          <span class="ubuntu-text">Distributed Systems and Data</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid bm-250">
  <div class="row justify-content-center">
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img src="/assets/images/homepage/kessel-run.png" alt="Kessel Run" />
        <p>Kessel Run</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img src="/assets/images/homepage/usaf.png" alt="US Airfoce" />
        <p>US Airfoce</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img src="/assets/images/homepage/dod.png" alt="Dept. Of Defense" />
        <p>Dept. Of Defense</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img
          src="/assets/images/homepage/corsair-ranch.png"
          alt="Corsair Ranch"
        />
        <p>Corsair Ranch</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img src="/assets/images/homepage/space-camp.png" alt="Space Camp" />
        <p>Space Camp</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img src="/assets/images/homepage/level-up.png" alt="Level Up" />
        <p>Level Up</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img
          src="/assets/images/homepage/cfpb.png"
          alt="Consumer Financial Protection Bureau"
        />
        <p>Consumer Financial Protection Bureau</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img src="/assets/images/homepage/18f.png" alt="18f" />
        <p>18f</p>
      </div>
    </div>

    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div class="client">
        <img
          src="/assets/images/homepage/platform-one.png"
          alt="Platform One"
        />
        <p>Platform One</p>
      </div>
    </div>
  </div>
</div>

<div class="home-section-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-12">
        <h2 class="gradient-text-tb mb-5">
          At Raft, we think difficult is fun. We are building the sharpest
          digital solutions. To solve the most complex problems. With the
          brightest minds. And a passion for culture that will change the world.
        </h2>
        <p class="text-end">
          <a href="/join" class="raft-btn">Join Team Raft</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include wave-footer.html %}

<!--   {% include threejs.html %} -->
