---
layout: default
---

<div class="home-section-1">
  <div class="container">
    <h1>
      We’re not your average digital consulting firm. We are engineers of the
      future. Artists of change. Dedicated to building solutions that actually
      work.
    </h1>
  </div>
</div>

<div class="home-section-2">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-sm-12">
        <h2>
          We build open architecture software, data, and AI systems for your
          most challenging and complex use cases. Where others have failed, we
          thrive.
        </h2>
        <p>
          <a href="/focus-areas">Learn about our Focus Areas</a>
        </p>
      </div>
      <div class="col-md-2 d-none-sm"></div>
      <div class="col-md-4 col-sm-12"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12"></div>
      <div class="col-md-2 d-none-sm"></div>
      <div class="col-md-4 col-sm-12">
        <h4>The work we love....</h4>
        <p>
          We build ecosystems for secure development and seamless deployment to
          the cloud, enterprise, or edge. We began our DevSecOps journey
          building vendor and cloud-agnostic CI/CD pipelines for the DoD and
          USG's premier software factories. Today, we integrate least trust
          security into platform operations and architect automated solutions
          for airgapped environments, cross-domain ecosystems, and the contested
          edge.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home-section-3">
  <div class="container-fluid waveframe-wrapper">
    <div class="container">
      <ul class="list-unstyled waveframe-text-list">
        <li>
          <span class="space-mono-text">U.S. Air Force</span> //
          <span class="ubuntu-text">Complex App Development</span>
        </li>
        <li>
          <span class="space-mono-text"
            >U.S. Air Force Digital Modernization</span
          >
          // <span class="ubuntu-text">Platforms at Scale</span>
        </li>
        <li>
          <span class="space-mono-text">Data Fabric</span> //
          <span class="ubuntu-text">Distributed Systems and Data</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid bm-250">
  <div class="row justify-content-center">
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
    <div class="col-md-1 col-sm-12 text-center mb-5">
      <div
        class="placeholder"
        style="width: 100px; height: 100px; background: gray"
      ></div>
    </div>
  </div>
</div>

<div class="container bm-250">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h2 class="gradient-text-tb mb-5">
        At Raft, we think difficult is fun. We are building the sharpest digital
        solutions. To solve the most complex problems. With the brightest minds.
        And a passion for culture that will change the world.
      </h2>
      <p class="text-end">
        <a href="/join" class="raft-btn">Join Team Raft</a>
      </p>
    </div>
  </div>
</div>

{% include wave-footer.html %} {% include threejs.html %}
