---
layout: default
title: Home
excerpt: A digital technology consulting firm, specialized in public facing software solutions for private and DoD clients using open source tools like Kubernetes.
pagination:
  enabled: true
---

<div id="hero" class="home-hero site-header-container {% if site.cover %}has-cover{% endif %} fullhome" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
  </div>
</div>

<section id="introducing">
  <div class="left">
      <h1 class="section-title">Building the Unimagined</h1>
      <span class="h5">Introducing Raft</span>
      <div class="line"></div>
      <p class="about">A new breed of digital consulting firm, that’s part full stack consultancy, part think tank and part band of creative folks. We’re problem solvers and innovators with a focus on Open Source. Our name is actually inspired from the<!-- --> <a target="_" href="https://raft.github.io">Raft Consensus Algorithm</a>, which revolutionized solving consensus problems by being more reliable and easier to understand. It is also the algorithm implemented by etcd (brain of the Kubernetes). We took on this name because we share a similar goal: replace any overly complex and outdated system with a new, efficient, and secure one that <i>just</i> works.</p>
      <a href="/about"><span class="button learn-more">Learn More</span></a>
  </div>

  <div class="right"><img src="./assets/raft-logo-712.jpg" alt="raft quad circle logo"></div>
</section>

<section id="services">
  <h1 class="section-title">Services</h1>

  <div class="cards">
    <a href="http://goraft.tech/services/cloudnative">
      <div class="card">
        <img class="circle" src="./assets/cloud-native.png" alt="service icon">
        <h2 class="title">Cloud Native</h2>
      </div>
    </a>

    <a href="http://goraft.tech/services/datascience">
      <div class="card">
        <img class="circle" src="./assets/data-science.png" alt="service icon">
        <h2 class="title">Data Science</h2>
      </div>
    </a>

    <a href="http://goraft.tech/services/devsecops">
      <div class="card">
        <img class="circle" src="./assets/digital-transformation.png" alt="service icon">
        <h2 class="title">DevSecOps</h2>
      </div>
    </a>

    <a href="http://goraft.tech/services/product">
      <div class="card">
        <img class="circle" src="./assets/product-strategy.png" alt="service icon">
          <h2 class="title">Product Strategy</h2>
        </div>
    </a>
  </div>

</section>

<section id="clients">
  <h1 class="section-title">Clients &amp; Partners</h1>
  <div class="logos">
    <div class="logo"><img src="./assets/cp-dd.png" alt="Department of Defense"></div>
    <div class="logo"><img src="./assets/cp-doh.png" alt="Department of Health and Human Services"></div>
    <div class="logo"><img src="./assets/cp-18f.png" alt="18f"></div>
    <div class="logo"><img src="./assets/cp-usaf.jpg" alt="General Services Administration"></div>
    <div class="logo"><img src="./assets/cp-cfpb.png" alt="General Services Administration"></div>
    <div class="logo"><img src="./assets/cp-psc.png" alt="General Services Administration"></div>
  </div>
</section>

</div>
