<div id="search-box" class="container-fluid d-none">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-12 offset-md-0">
        <div class="input-group mb-3 search-box">
          <input
            type="text"
            placeholder="What can we help you find?"
            class="raft-search-input"
            id="search-input"
            autofocus
            onkeyup="getSearchResults()"
          />
        </div>
        <h5 class="text-end" id="search-results-length"></h5>
      </div>
    </div>
    <div class="row" id="search-results"></div>
  </div>
  <script>

    const pages = [];
    {{range site.AllPages}}
    pages.push({
        "title": {{ .Title }},
        "content": {{ .Content}},
        "url": {{ .Permalink }},
        "excerpt": {{ .Summary }}
      })
    {{end}}

    
</script>