.footer {
  background: $footer-background;
  padding: 44px 54px;
  color: $text-white;
  position: relative;

  &::before {
    content: url("/images/footer/footer-pattern.png");
    position: absolute;
    left: 124px;
    top: -242px;
    width: 225px;
    height: 408px;
    z-index: 0;
  }

  h5 {
    font-size: 20px;
    text-transform: capitalize;
  }

  .col-lg-3 {
    z-index: 1;
  }

  .footer-header {
    color: $footer-headers;
  }

  a,
  button.btn {
    color: $gray !important;
    text-decoration: none !important;

    &:hover {
      color: $text-white !important;
      text-decoration: underline !important;
    }
  }

  .list-unstyled {
    li {
      margin-bottom: 16px;

      a {
        color: $gray;
        text-decoration: none;
        &:hover {
          color: $text-white;
          text-decoration: underline;
        }
      }
    }
  }
}

.social-links {
  margin: 1rem 0;

  a {
    margin: 0 1rem 0 0;
    color: $gray;
    text-decoration: none !important;
    &:hover {
      color: $text-white;
      text-decoration: none !important;
    }
  }
}

.wave-footer {
  margin: 0 -54px;
}
