<!--
    this is the complete index for articles, as you can see it on the index page.
    Every Post type get's their own little settings.
-->

<div class="col-md-4">
  <div class="card-content">
    <div class="card-desc">
    {% if post.featimg %}
      <div class="card-featimg">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
            {% assign thumb = post.featimg  %}
            <img src="{{ site.baseurl }}{{ site.media_folder | replace: '//', '/'}}{{ thumb }}" alt="{{ thumb }}">

        </a>
        </div>

        {% endif %}
        <a href="{{ post.url | prepend: goraft/ | replace: '//', '/'}}">
            <h3>{{ post.title | truncate: 30 }}</h3>
            <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        </a>
          <p class="post-content">{{ post.content | strip_html | truncate: 180 }}</p>
          <a href="{{ post.url | prepend: goraft/ | replace: '//', '/'}}">Read More</a>
    </div>

  </div>
</div>
