<footer id="footer" class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-3 mb-4 contact-section" >
        <h4>Contact us</h4>
        <a style="text-decoration: underline !important; color: white !important;" href="mailto:{{site.email}}">{{site.email}}</a>
        <a class="space-mono-text" href="tel:{{site.phone}}">p: {{site.phone}}</a>
        <p class="mb-5">
          11800 Sunrise Valley Dr. #400 <br />
          Reston, VA 20191
        </p>
      </div>

      <div class="col-sm-12 col-lg-2 d-none-sm"></div>

      <div class="col-sm-12 col-lg-2">
        <p class="footer-header space-mono-font text-uppercase">Focus Areas</p>
        <ul class="list-unstyled">
          <li>
            <a href="/focus-areas#digital-platforms-at-scale"
              >Digital Platforms at Scale</a
            >
          </li>
          <li>
            <a href="/focus-areas#complex-software-apps"
              >Complex Software Apps</a
            >
          </li>
          <li><a href="/focus-areas#data-ai">Data & A.I.</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-2">
        <p class="footer-header space-mono-font text-uppercase">teamraft.com</p>
        <ul class="list-unstyled">
          <li><a href="/about">About</a></li>
          <li><a href="/culture">Raft Culture</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/blog">News + Insights</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-3">
        <p class="footer-header space-mono-font text-uppercase">Careers</p>
        <p class="mb-5">
          <em
            >Come be part of the mission. We are a team of 200+ awesome humans and growing.</em
          >
        </p>
        <p class="mb-5">
          <a
            href="https://boards.greenhouse.io/raft"
            target="_blank"
            rel="no-follow no-referrer"
            class="raft-btn"
            >Join Team Raft</a
          >
        </p>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col-sm-12 col-lg-6 text-start">
        <p id="copyright">
          &copy; {{ site.time | date: '%Y' }} Raft LLC. All rights reserved.
          Terms of Use. <a href="/privacy-policy-cookies">Privacy Policy.</a>
        </p>
      </div>
      <div class="col-sm-12 col-lg-6 text-end">
        {% include social_links.html %}
        <p class="space-mono-font">Woman Owned Small Business</p>
      </div>
    </div>
  </div>
</footer>
