<footer id="footer" class="footer">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-3">
        <h5>Contact Us</h5>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <p>
          11800 Sunrise Valley Dr. #400 <br/>
          Reston, VA 20191
        </p>
      </div>
      <div class="col-sm-12 col-lg-2">
        <p class="footer-header space-mono-font text-uppercase">Services</p>
        <ul class="list-unstyled">
          <li><a href="/services/strategy">Strategy</a></li>
          <li><a href="/services/technology">Technology</a></li>
          <li><a href="/services/operations">Operations</a></li>
          <li><a href="/services/innovation">Innovation</a></li>
          </ul>
      </div>
      <div class="col-sm-12 col-lg-2">
        <p class="footer-header space-mono-font text-uppercase">teamraft.com</p>
        <ul class="list-unstyled">
          <li><a href="/services/strategy">About</a></li>
          <li><a href="/services/technology">Case Studies</a></li>
          <li><a href="/services/operations">Contact Us</a></li>
          <li><a href="/services/innovation">News + Insights</a></li>
          </ul>
      </div>
      <div class="col-sm-12 col-lg-2">
        <p class="footer-header space-mono-font text-uppercase">Locations</p>
        <ul class="list-unstyled">
          <li><a href="/services/strategy">Reston HQ</a></li>
          <li><a href="/services/technology">Boston</a></li>
          <li><a href="/services/operations">San Antonio</a></li>
          </ul>
      </div>
      <div class="col-sm-12 col-lg-3">
        <p class="footer-header space-mono-font text-uppercase">Careers</p>
        <p class="mb-5">
          <em>Come be part of the mission. We are a team of 150+ awesome humans and growing.</em>
        </p>
        <p class="mb-5">
          <a href="#" class="raft-btn">Join Team Raft</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 text-start">
        <p class="space-mono-font text-uppercase footer-header">Accessibility matters</p>
        <p>
          Theme: <button class="btn" data-bs-theme-value="light">Light</button> <button class="btn" data-bs-theme-value="dark">Dark</button>
        </p>
        <p id="copyright">&copy; {{ site.time | date: '%Y' }} Raft LLC. All rights reserved. Terms of Use.</p>
      </div>
      <div class="col-sm-12 col-lg-6 text-end">
        {% include social_links.html %}
        <p class="space-mono-font">Woman Owned Small Business</p>
      </div>
    </div>
  </div>

</footer>