<header class="nav-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-start">
        <a href="/">
            <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}" class="logo" id="logo">
        </a>
      </div>
      <div class="col text-end">
          <a href="#" class="search-icon {% if page.url == '/' %}text-light{% endif %}" onclick="toggleSearch()" id="search-button">
            <i class="bi bi-search"></i>
          </a>
          <a class="hamburger {% if page.url == '/' %}text-light{% endif %}" href="#" id="hamburger">
            <i class="bi bi-list"></i>
            <i class="bi bi-x-lg"></i>
          </a>
      </div>
    </div>
    <div class="row">
      {% include search.html %}
      {% include nav.html %}
    </div>
  </div>
</header>
