<!--
<header class="navigation" id="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <div class="left">
        <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      </div>
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
				{% include nav_links.html %}
      </ul>
    </nav>
  </div>
</header>
-->

<header class="nav-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-start">
        <a href="/">
            <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}" class="logo" id="logo">
        </a>
      </div>
      <div class="col text-end">
          <a href="#" class="search-icon" onclick="toggleSearch()" id="search-button">
            <i class="bi bi-search"></i>
          </a>
          <a class="hamburger" href="#" id="hamburger">
            <i class="bi bi-list"></i>
            <i class="bi bi-x-lg"></i>
          </a>
      </div>
    </div>
    <div class="row">
      {% include search.html %}
      {% include nav.html %}
    </div>
  </div>
</header>
