{% assign sorted_pages = site.pages | sort:"order" %}
{% for p in sorted_pages %}
	{% if p.title and p.main_nav == true %}
	 	{% if p.title != 'Services' %}
			<li class="nav-link"><a class="{% if p.url == page.url %}active{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
		{% else %}
	 	 <li class="nav-link submenu-link"><a class="{% if p.url == page.url %}active{% endif %}" href="javascript:void(0);">{{ p.title }} <i class="fa fa-caret-down"></i></a>
		 <ul class="nav-dropdown">
		 {% for p2 in site.pages %}
		 	{% if p2.subpage == 'services' %}
		 		<li class="nav-link sub-nav-link"><a href="{{ p2.permalink | prepend: site.baseurl }}">{{p2.title}}</a></li>
			{% endif %}
		 {% endfor %}
		 </ul>
		{% endif %}
		</li>
	{% endif %}
{% endfor %}
