.content-column, .sidebar-column {
    img {
        width: 100%;
        height: auto;
    }

}

.content-column {
    img {
        margin: 2rem 0;
    }
    h2, p {
        margin-top: 2rem;
    }
}

.sidebar-column {
    img {
        box-shadow: $box-shadow;
    }
}

.article-thumbnail {
    margin-bottom: 93px;

    a {
        text-decoration: none;
        color: $text-white;

        &:hover {
            .image-wrapper{
                
                img {
                    box-shadow: $box-shadow;
                }

                &::before{
                    margin: 15px 0 0 -15px;
                }
                &::after{
                    display: block;
                }
            }

        }
    }

    .image-wrapper {
        background: $thumbnail-background;
        width: 100%;
        max-height: 275px;
        margin: 0 auto 30px auto;
        padding: 30px;
        position: relative;

        &::before {
            content: "";
            display: block;
            background: #6C6FF5;
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            max-height: 210px;
            position: absolute;
            margin: 0;
            z-index: 0;
            transition: margin 0.1s ease-in-out;
        }

        &::after{
            content: url('/assets/images/blog/thumbnail-overlay.png');
            width: 405px;
            height: 104px;
            position: absolute;
            z-index: 1;
            bottom: 15px;
            left: -15px;
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            max-height: 210px;
            position: relative;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,0);
            transition: box-shadow 0.1s ease-in-out;
        }
    }
}

.well-make-waves {
    width: calc(100% + 108px);
    margin: 0 -54px;
}

.related-content {
    @include ubuntu-headers;
    font-weight: 500;
    font-size: 20px;
}