$vibrant-pink-light: #B459DF;
$vibrant-pink: #F246CC;
$vibrant-pink-dark: #C52EA3;
$text-white: #FAFAFA;
$gray: #BEBEBE;
$error: #FD7373;
$binary-black: #101010;
$primary-links-light: #6C6FF5;
$primary-links: #8789FF;
$secondary-links: #484BE9;
$secondary-links-dark: #4749CA;
$footer-background: #1E1E1E;
$footer-headers: #919191;
$thumbnail-background: #D0D0F4;
$transparent-black: rgba(0, 0, 0, 0.2);
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
$big-text-gradient: linear-gradient(3.99deg, $primary-links-light 4.62%, $vibrant-pink 89.4%);
$cta-gradient: linear-gradient(267.17deg, $vibrant-pink-dark 7.53%, $secondary-links-dark 104.95%);
$binary-black-gradient: linear-gradient(267.17deg, $footer-background 7.53%, $footer-background 104.95%);
$subtle-cta-gradient: linear-gradient(0deg, $transparent-black, $transparent-black), linear-gradient(267.61deg, $vibrant-pink 0.39%, $vibrant-pink-light 42.41%, $primary-links-light 100%);
$radial-gradient: radial-gradient(50% 50% at 50% 50%, #E85AFF 0%, $text-white 100%);
$radial-gradient-light: radial-gradient(50% 50% at 50% 50%, #E85AFF 0%, #212529 100%);