#content {
    padding: 0 54px;
    min-height: 60vh;
    margin-bottom: 3rem;
    z-index: 1;
    position: relative;
    // pagination footer z-index fix
    nav {
        z-index: 1;
    }
}

blockquote {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.gradient-text {
    background: $radial-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.no-scroll {
    overflow: hidden;
}