.gradient-pink-to-purple-1 {
  background: linear-gradient(
    0deg,
    $primary-links-light 0%,
    $vibrant-pink 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rafter-factor {
  font-weight: 600;
}

.gradient-pink-to-purple-2 {
  background: linear-gradient(
    0deg,
    $primary-links-light 0%,
    $vibrant-pink 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-pink-to-purple-3 {
  background: linear-gradient(
    0deg,
    $primary-links-light 40%,
    $vibrant-pink 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-pink-to-purple-4 {
  background: linear-gradient(
    0deg,
    $primary-links-light 90%,
    $vibrant-pink 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offset-bordered-image {
  position: relative;
  width: max-content;
  border: 1px solid #f246cc;
  border-radius: 7px;
  width: 100%;
  img {
    position: relative;
    left: 13px;
    top: 3px;
    width: 100%;
  }
}

.benefit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  position: relative;
  background: url(/assets/images/benefits/background.svg);
  background-repeat: no-repeat;
  max-width: 240px;
  margin-bottom: 25px;
  height: 12rem;
  img {
    max-height: 49px;
    margin-bottom: 24px;
  }
  h6 {
    text-align: center;
  }
  p {
    font-size: 12px;
  }
}

.culture-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  h2 {
    max-width: 50%;
  }
}

.photo-stack {
  position: relative;
  margin: auto;
}
.photo-stack > p {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
}
.photo-stack img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px -2px rgba(0,0,0,.5);
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.photo-stack img:nth-child(1) {
  z-index: 999;
  transform: rotate3d(0, 0, 1, -7deg);
}
.photo-stack img:nth-child(2) {
  transform: rotate3d(0,0,1,7deg);
}
.photo-stack img:nth-child(3) {
  transform: rotate3d(0,0,1,-3deg);
}
.photo-stack img:nth-child(4) {
  transform: rotate3d(0,0,1,2deg);
}

.photo-stack:hover img:nth-child(1) {
  transform: scale(1.02);
}
.photo-stack:hover img:nth-child(2) {
  transform: translate3d(10%, 0, 0) rotate3d(0,0,1,3deg);
}
.photo-stack:hover img:nth-child(3) {
  transform: translate3d(-10%, 0, 0) rotate3d(0,0,1,-3deg);
}
.photo-stack:hover img:nth-child(4) {
  transform: translate3d(2%, -5%, 0) rotate3d(0,0,1,2deg);
}
.photo-stack:hover img:nth-child(5) {
  transform: translate3d(-5%, -2%, 0) rotate3d(0,0,1,2deg);
}

.photo-marquee-row {
  display: flex;
  animation: scrollingLeft 60s linear infinite;
  padding: 16px;
  img {
    flex: 0 0 16vw;
    margin: 0 1vw;
    border-radius: 8%;
    width: 16vw;
    max-height: 180px;
    object-fit: cover;
  }
}

div.photo-marquee-row:nth-of-type(even) {
  animation: scrollingRight 60s linear infinite;
}



@keyframes scrollingLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-198vw); }
}

@keyframes scrollingRight {
  0% { transform: translateX(-198vw); }
  100% { transform: translateX(0); }
}