.nav-header {
  padding: 44px 54px;
  position: relative;
  z-index: 2;
}

.logo {
  width: 134px;
  height: auto;
}

.nav-icon {
  font-size: 1.5rem;
  color: $text-white;
  text-decoration: none;
  margin-right: 1.5rem;
}

.hamburger {
  font-size: 1.75rem;
  color: $text-white;
  text-decoration: none;
  .bi-list {
    display: inline-block;
  }
  .bi-x-lg {
    display: none;
  }
}

.hamburger.open {
  .bi-list {
    display: none;
  }
  .bi-x-lg {
    display: inline-block;
  }
}

.nav-background {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  &::before {
    background: url("/assets/images/nav/nav-dots.svg") no-repeat;
    width: 118px;
    height: 152px;
    position: absolute;
    bottom: 212px;
    left: 0;
    content: "";
  }
}

#nav {
  margin-top: 66px;

  .list-unstyled {
    display: inline-block;

    li {
      position: relative;

      a {
        text-decoration: none;
        color: $gray;
        line-height: normal;
      }

      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          display: block;
        }

        a {
          color: $text-white;
        }

        .invisible {
          visibility: visible !important;
        }
      }
    }

    .nav-arrow-1 {
      &::before {
        position: absolute;
        content: url("/assets/images/nav/nav-arrow-1.png");
        top: 0;
        left: -49px;
        width: 39px;
        height: 81px;
        display: none;
      }
    }

    .nav-arrow-2 {
      &::before {
        position: absolute;
        content: url("/assets/images/nav/nav-arrow-2.png");
        top: 0;
        left: -74px;
        width: 58px;
        height: 52px;
        display: none;
      }
    }

    .nav-arrow-3 {
      &::before {
        position: absolute;
        content: url("/assets/images/nav/nav-arrow-3.png");
        top: 0;
        left: -43px;
        width: 23px;
        height: 71px;
        display: none;
      }
    }

    .nav-arrow-4 {
      &::before {
        position: absolute;
        content: "";
        bottom: 18px;
        left: 136px;
        width: 301px;
        height: 29px;
        z-index: -1;
        display: none;
        background: url("/assets/images/nav/nav-arrow-4.png");
        // animation-play-state: paused;
      }
      &:not(:hover) {
        animation: none;
      }
      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          display: block;
          animation: nav4Animation 0.2s;
        }
      }
    }
  }
}

@keyframes nav4Animation {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -290px;
  }
}

.btn-link {
  text-decoration: none;
  &:hover,
  &:focus,
  &:focus-visible {
    text-decoration: underline;
  }
}
