.nav-header {
  padding: 44px 54px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.logo {
  width: 134px;
  height: auto;
}

.nav-icon {
  font-size: 1.5rem;
  color: $text-white;
  text-decoration: none;
  margin-right: 1.5rem;
}

.hamburger {
  font-size: 1.75rem;
  color: $text-white;
  text-decoration: none;
  .bi-list {
    display: inline-block;
  }
  .bi-x-lg {
    display: none;
  }
}

.hamburger.open {
  .bi-list {
    display: none;
  }
  .bi-x-lg {
    display: inline-block;
  }
}

.nav-background {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  z-index: 2;
  top: 0;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  &::before {
    background: url("/assets/images/nav/nav-dots.svg") no-repeat;
    width: 118px;
    height: 152px;
    position: absolute;
    bottom: 212px;
    left: 0;
    content: "";
  }
}

@media (max-width: 768px) {
  .invisible {
    visibility: visible !important;
    margin-bottom: 32px;
    font-size: 0.875rem;
  }
  .nav-background .raft-header-container {
    padding-left: 50px;
  }
}

#nav {
  margin-top: 66px;

  .list-unstyled {
    display: inline-block;

    li {
      position: relative;

      a {
        text-decoration: none;
        color: $gray;
        line-height: normal;
      }

      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          display: block;
        }

        a {
          color: $text-white;
        }

        .invisible {
          visibility: visible !important;
        }
      }
    }

    .nav-arrow-1 {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -49px;
        width: 39px;
        height: 81px;
        display: none;
      }
      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          background: url("/assets/images/nav/nav-arrow-1-horizontal.png") 0 0 no-repeat;
          animation: navAnimation1 0.25s steps(5) forwards;
        }
      }
    }

    .nav-arrow-2 {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -74px;
        width: 77px;
        height: 77px;
        display: none;
      }
      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          background: url("/assets/images/nav/nav-arrow-2-horizontal.png") 0 0 no-repeat;
          animation: navAnimation2 0.25s steps(11) forwards;
        }
      }
    }

    .nav-arrow-3 {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -43px;
        width: 42px;
        height: 75px;
        display: none;
      }
      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          background: url("/assets/images/nav/nav-arrow-3-horizontal.png") 0 0 no-repeat;
          animation: navAnimation3 0.25s steps(5) forwards;
        }
      }
    }

    .nav-arrow-4 {
      &::before {
        position: absolute;
        content: "";
        bottom: 18px;
        left: 136px;
        width: 305px;
        height: 40px;
        z-index: -1;
        // animation-play-state: paused;
      }
      &:hover,
      &:focus,
      &:focus-visible {
        &::before {
          background: url("/assets/images/nav/nav-arrow-4-vertical.png") 0 0 no-repeat;
          animation: navAnimation4 0.25s steps(10) forwards;
        }
      }
    }
  }
}

@keyframes navAnimation1 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -201px;
  }
}

@keyframes navAnimation2 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -851px;
  }
}

@keyframes navAnimation3 {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -210px;
  }
}

@keyframes navAnimation4 {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -400px;
  }
}

.btn-link {
  text-decoration: none;
  &:hover,
  &:focus,
  &:focus-visible {
    text-decoration: underline;
  }
}
