.homepage-bg {
    width: 100vw;
    background-image: url("/assets/images/homepage/homepage-bg.png");
    height: 100vh;
    margin: -130px -69px 250px -69px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.waveframe-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;

    #waveframe {
        width: calc(100% + 108px);
        margin: 0 -54px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

  }

.waveframe-text-list {
    font-size: 30px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);

    li {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.gradient-text-tb {
    background: $linear-gradient-top-bottom;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}