.header-video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.waveframe-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;

  #waveframe {
    width: calc(100% + 108px);
    margin: 0 -54px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.waveframe-text-list {
  font-size: 30px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);

  li {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gradient-text-tb {
  background: $linear-gradient-top-bottom;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.focus-area-link {
  color: $text-white;
  text-decoration: none;
  position: relative;
  p {
    text-decoration: underline;

    &::before {
      content: "[ ";
      visibility: hidden;
    }
    &::after {
      content: " ]";
      visibility: hidden;
    }
  }

  &:hover {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -30px;
      background-image: url(/assets/images/homepage/arrow.svg);
      width: 24px;
      height: 65px;
      background-repeat: no-repeat;
    }
    color: $primary-links;
    i {
      color: $text-white;
    }
    p {
      color: $text-white;
      text-decoration: none;
      &::before {
        content: "[ ";
        visibility: visible;
        color: $text-white;
      }
      &::after {
        content: " ]";
        visibility: visible;
        color: $text-white;
      }
    }
  }
}

.home-section-1,
.home-section-2,
.home-section-3,
.home-section-4 {
  width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
}

.full-height-section {
  min-height: 100vh;
  margin: 0 -54px;
  width: calc(100% + 108px);
  display: flex;
  align-items: center;
  position: relative;
}

.home-section-1 {
  position: relative;
  overflow: hidden;
  margin: 0 -54px;
  width: calc(100% + 108px);

  h1 {
    color: $text-white;
    padding: 0 69px;
  }
}

.home-section-2 {
  position: relative;
  &::before {
    background-image: url(/assets/images/homepage/blur-home.svg);
    filter: blur(300px);
    max-width: 940px;
    max-height: 708px;
    content: "";
    left: calc(50% - 470px);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.home-section-3 {
  background-image: url(/assets/images/homepage/home-section-3.svg);
  margin: 0 -54px;
  width: calc(100% + 108px);
}

.home-section-4 {
  background-image: url(/assets/images/homepage/statement-bg.svg);
}

.text-block {
  h4 {
    margin-bottom: 40px;
  }
  h5 {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 64px;
  }
}

.client {
  cursor: pointer;
  p {
    visibility: hidden;
  }
  &:hover {
    p {
      visibility: visible;
    }
  }
}

.bracket {
  color: $vibrant-pink;
}

.highlight-text-pink {
  color: $vibrant-pink;
}

.highlight-text-purple {
  color: $primary-links;
}

.section-1 {
  margin-top: -140px;
}
