[data-bs-theme="light"] {
  .search-icon,
  .hamburger {
    color: $binary-black;
    text-shadow: none;
  }

  .logo {
    filter: drop-shadow(0 0 0 #fff);
  }

  .home-section-1 {
    h1 {
      color: $text-black;
    }
  }

  .focus-area-link, .use-case-link {
    color: $text-black;

    .highlight-text-pink {
      color: $vibrant-pink
    }

    .bracket-link {
      color: $text-black;
    }

    &:hover a, &:hover .bracket-link {
      color: $text-black;
    }
  }

  .search-result,
  .raft-search-input {
    color: $text-white;
  }

  #nav,
  #search-box {
    h5,
    p {
      color: $text-white;
    }
  }

  .rafter > .rafter-details {
    color: $text-black;
  }

  .article-thumbnail {
    a {
      color: $footer-background;
    }
  }
  .gradient-text {
    background: $radial-gradient-light;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .video-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,1) 80%);
  }
}

[data-bs-theme="dark"] {
  --bs-body-bg: #131313;
  --bs-body-color: #fafafa;
}
