[data-bs-theme="light"] {
  a,
  .btn-link {
    color: $secondary-links;
    text-decoration: none;
    &:hover {
      color: $text-black;
      text-decoration: underline;
    }
  }

  .search-icon,
  .hamburger {
    color: $binary-black;
    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    fill: $text-black;
  }

  .social-links {
    a:hover {
      text-decoration: none;
    }
  }

  .home-section-1 {
    h1 {
      color: $text-black;
    }
  }

  .focus-area-link {
    color: $text-black;
    &:hover {
      text-decoration: none;
    }

    .highlight-text-pink {
      color: $vibrant-pink;
    }

    .bracket-link {
      color: $secondary-links;
    }
  }

  .use-case-link {
    color: $text-black;

    .highlight-text-pink {
      color: $vibrant-pink;
    }

    .bracket-link {
      color: $text-black;
    }

    &:hover a,
    &:hover .bracket-link {
      color: $text-black;
      text-decoration: none;
    }
  }

  .search-result {
    color: $text-black;
    a {
      color: $text-black;
    }
  }

  .raft-search-input {
    color: $text-black;
    border-bottom: 2px solid $text-black;
  }

  #nav {
    margin-top: 66px;

    .list-unstyled {
      li {
        a {
          color: $text-black;
        }

        &:hover {
          a {
            color: $text-black;
          }
        }
      }
    }
  }

  .raft-btn {
    color: $text-black;
    background: $text-white;
    &:hover {
      color: $text-white;
    }
  }

  #footer {
    .social-links {
      a:hover {
        color: $text-white;
      }
    }
    .raft-btn {
      background: $binary-black-gradient;
      color: $text-white;
      &:hover {
        background: $cta-gradient;
        color: $text-white;
      }

      &:before {
        background: $cta-gradient;
      }
    }
  }

  .rafter > .rafter-details {
    color: $text-black;
  }

  .article-thumbnail {
    a {
      color: $footer-background;
    }
  }
  .gradient-text {
    background: $radial-gradient-light;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .video-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 80%
    );
  }
  .article-thumbnail {
    &:hover {
      a {
        text-decoration: none;
      }
    }
  }
}

[data-bs-theme="dark"] {
  --bs-body-bg: #131313;
  --bs-body-color: #fafafa;
  .logo {
    fill: $text-white;
  }
  .search-icon,
  .hamburger {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  }
  .logo {
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.4));
  }
}
