/* bootstrap medium breakpoints */
@media (max-width: 992px) {
  h1,
  .title {
    font-size: revert;
  }
  h2,
  h3,
  .subtitle,
  h4,
  h5 {
    font-size: revert;
  }

  #nav {
    li {
      .title {
        font-size: 2rem;
      }
    }
  }

  .nav-arrow-4 {
    &::before {
      left: 0 !important;
    }
  }

  .text-block {
    height: auto;
  }

  .bm-250 {
    margin: auto;
  }

  .flex-sm-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1399px) {
  .use-case-link {
    &:hover {
      img {
        display: none;
      }
    }
  }
}
