.raft-btn, a.raft-btn {
    font-family: 'Space Mono';
    background: $binary-black-gradient;
    color: $text-white;
    position: relative;
    z-index: 0;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background: $cta-gradient;
        color: $text-white;
        text-decoration: none !important;
    }

    &:before {
        background: $cta-gradient;
        position: absolute;
        top: -4px;
        left: -4px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        content: "";
        z-index: -1;
        border-radius: 4px;
    }
}