#team {
  h3 {
    font-size: 1.72rem;
    font-weight: bold;
    color: white;
  }

  ul#members {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-sizing: border-box;

    .name, .role {
      margin: 0;
      line-height: normal;
      color: white;
      width: 100%;
      text-align: left;
      font-family: "AvantGardeBold";
    }

    li.member {
      width: calc(33%);
      justify-content: stretch;
      margin-bottom: 2rem;

      @media screen and (min-width: $tablet) {
        & { width: 25%; }
      }

      a {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        color: $purple;
        position: relative;
        transition: transform 300ms;

        .plus-icon {
          position: absolute;
          bottom: 0;
          right: 1rem;
          z-index: 2;
          color: white;
          font-size: 2rem;
          font-weight: bold;
          opacity: 0;
          transform: translateY(1rem);
          transition: transform 0.5s, opacity 0.5s;
        }

        .header {
          width: 100%;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;

          .name {
            font-size: 1.2rem;
            padding: 0.5rem 0 0 0.75rem;
            font-weight: bold;
            align-self: flex-start;
          }

          .role {
            font-size: 1rem;
            padding: 0.25rem 0 0.25rem 0.75rem;
            align-self: flex-start;
            font-weight: normal;
            font-family: "AvantGarde";
          }
        }

        img {
          filter: grayscale(100%);
          // transition: filter .3s;
          background: transparent;
          transition: border-radius 300ms;
        }

        &:hover {
          text-decoration: none;
          transform: scale(1.025);
          z-index: 2;

          .header {
            background: #5598cf;
            color: white;
          }

          .plus-icon {
            opacity: 1;
            transform: translateY(0) translateX(0);
          }

          img {
            filter: grayscale(0%);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }
      }
    }
  }
}
