.row.work {
  margin: 0;

  article {
    margin: 1rem auto 0 auto;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;

    h2 {
      text-align: center;
    }
  }
}

.work-row {
  /* Mobile Styles */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;

  #problem svg {
    width: 100%;
    max-width: 600px;
    border: 0;
  }

  #solution {
    margin-bottom: 10px;
  }

  #solution p.text {
    color: #6e6e6e;
  }

  #problem,
  #solution {
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  /* Tablet styles */
  @include media($tablet) {
    #problem,
    #solution {
      width: 95%;
    }
  }

  /* Desktop styles */
  @include media($desktop) {
    flex-direction: row;
    width: 90%;

    #problem,
    #solution {
      width: 50%;
    }

    #solution {
      margin: auto 20px;
    }

    // Added in work_two.html
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}
