/*
*	Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
*/

.navigation {
  box-shadow: 0 2px $highlight-color;
  padding: 0 1em;
  margin: 0;
  position: fixed; // Remove this to make header scrollable again
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  margin: 0 auto;
  box-shadow: none;

  @media screen and (min-width: $medium) {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    margin: 0 auto;
    position: absolute;
    padding: 10px 0;
    font-size: 1.2rem;
  }
}

.navigation .navigation-wrapper {
  @include outer-container;
  @include clearfix;
  position: relative;
  max-width: none;
  vertical-align: middle;
}

.navigation .logo {
  display: block;
  float: left;
  margin: 0 auto;
  padding: .5em;
  height: auto;
  margin-top: 0px;
  max-width: 250px;

  @include media($tablet) {
    padding-left: 25px;
    padding-top: 1.5rem;
  }

  @include media($large) {
    padding-top: 1rem;
  }

  img {
    max-height: 2.5em;
    padding-right: 1em;
    max-height: 35px;
    @media (min-width: $large) {
      max-height: 55px;
    }
  }

  span {
    font-size: 1.25em;
  }
}

.navigation .navigation-menu-button {
  display: block;
  float: right;
  margin: 0;
  font-size: 1.5em;
  padding-top: 5px;

  @include media($tablet) {
    display: none;
  }
}

/* Nav menu content */
.navigation nav {
  float: none;
  padding: 1.25em 0;
  
  @include media($tablet) {
    float: right;
    line-height: 1.5em;
  }
}

.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 10px;
  width: 100%;
  background: white;
  box-shadow: 0 0 20px black; // Mobile Nav shadow

  &.show {
    display: block;
  }

  @include media($tablet) {
    display: block;
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
}

/* Nav menu items */

.navigation ul.navigation-menu li.nav-link {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.25em 0;
  position: relative;

  @include media($tablet) {
    background: transparent;
    display: inline-block;
    text-decoration: none;
    width: auto;
    text-align: right;
    margin-right: 1.5rem;
  }

  @include media($large) {
    margin-right: 0rem;
  }
}

.navigation ul.navigation-menu > li.nav-link a {
  color: $purple;
  display: inline-block;
  font-family: "AvantGardeBold";
  text-decoration: none;
  padding: 20px 0px;
  background-color: transparent;
  transform: scaleY(0);
  transition: background-color 200ms;
  width: auto;
  display: contents;

  &:hover {
    color: $seagreen;
  }

  @include media($tablet) {
    padding-right: 1.5em;
    color: white;
    display: inline;
    position: relative;
    padding: 5px 2px;

    &:hover {
      color: white;
    }

    &::after {
      content: "";
      transform: scaleX(0);
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform 150ms;
      border-radius: 5px;
    }

    &:hover, &.active {
      background-color: transparent;

      &::after {
        transform: scaleX(1);
        height: 3px;
        text-decoration: none;
      }
    }
  }

  @include media($large) {
    margin-right: 50px;
    padding: 5px 2px;
    transform: scaleY(1);
    position: relative;
    width: auto;
    display: inline;

    &:last-child {
      padding: 5px 2px;
      margin-right: 50px;
      width: auto;
    }
  }
}

/* Nav Dropdown - Mobile  */
// Dropdown list binds to JS toggle event
.navigation .nav-link .nav-dropdown {
  position: relative;
  display: none;
  z-index: 1;
  margin-top: 10px;
  padding: 0;

  background: rgb(97, 96, 96);
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.55);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  .nav-link.sub-nav-link {
    float: left;
    display: block;
    a {
      color: white;
      &:hover {
        color: $seagreen;
      }
    }
  }

  &.visible {
    display: block;
    padding: 10px 0;
  }
}

/* Nav Dropdown - Tablet and Desktop */
@media (min-width: $medium) {
  .navigation .nav-link .nav-dropdown.visible {
    position: absolute;
    border-radius: 10px;
    background: black;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
    clear: both;
    width: 250px;
    display: block;
    text-align: center;
    color: lightgrey;
    right: -45px;

    li.nav-link.sub-nav-link {
      float: left;
      margin: 0 auto !important;
      text-align: center !important;
      clear: both;
      width: 100%;
      display: block !important;

      a {
        margin: 0 auto !important;
        padding: 5px 2px !important;
        color: grey;

        &:hover {
          color: $seagreen;
        }

        &:before,
        &:after {
          content: "";
        }
      }
    }
  }
}

#js-mobile-menu {
  color: $purple;
}
