@import './colors.scss';

#clients {
    h1 { 
        color: $purple;
        text-align: center;
        padding-top: 75px;
        width: 100%;
        font-size: 3rem;
    }

    .logos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 75px;

        .logo {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            background-color: $darkgrey;
        }
    }

    
}