@font-face {
    font-family: "AvantGardeBold";
    src: url('../fonts/AvantGarde-Bold.woff2') format('woff2');
}

@font-face {
    font-family: "TradeGothic";
    src: url('../fonts/TradeGothic-Regular.woff2') format('woff2');
}