@import "./colors.scss";

footer {
  background: $purple;
  color: white;
  border-top: 25px solid $seagreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .row {
    &.row-1 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      .logo {
        margin-top: 20px;
        padding-bottom: 0;
        img {
          width: 22vw;
          margin: 0 auto;
        }
      }

      .contact {
        &.address {
          margin-top: 10px;
        }

        &.other {
          margin-top: 20px;
        }
      }
    }

    &.social {
      padding: 20px 0;
    }
  }

  a:link {
    text-decoration: none;
    color: white;
  }

  .contact {
    font-size: 1.3rem;

    .address,
    .fax {
      margin-bottom: 20px;
    }
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 10px;

    .platform {
      background: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 15px;
      }

      svg {
        fill: $purple;
        width: 40px;
        height: 40px;
      }

      &.li {
        border-radius: 0;
      }

      &:hover svg {
        fill: $seagreen;
        cursor: pointer;
      }
    }
  }
}

#copyright {
  display: block;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: $lightgrey;
  padding: 20px 0;
  text-align: center;
}

@media (min-width: $large) {
  footer {
    flex-flow: column nowrap;
    text-align: left;
    padding: 30px 50px;

    .row {
      width: 100%;
      align-items: flex-start;
      text-align: center;

      &.row-1 {
        flex-flow: row nowrap;

        & > div {
          width: 33%;
        }

        .logo,
        .contact.address,
        .contact.other {
          margin-top: 0;
        }

        .contact .email {
          margin-top: 15px;
        }
      }

      &.social {
        padding: 0;
        margin-top: -10px;
      }
    }

    .logo {
      margin: 0;
      img {
        max-width: 320px;
        margin: 0 auto;
        display: block;
      }
    }

    .social {
      align-self: flex-end;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  #copyright {
    text-align: left;
    padding: 5px 50px;
  }
}

@media (min-width: $xlarge) {
  footer {
    .row.social {
      margin-top: -40px;
    }

    .row.row-1 .contact .email {
      margin-top: 50px;
    }
  }
}
