@import "./colors.scss";

footer {
  background: $purple;
  color: white;
  border-top: 25px solid $seagreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  a:link {
    text-decoration: none;
    color: white;
  }

  > div {
    padding: 20px 0;
  }

  .logo {
    margin-top: 10px;
    padding-bottom: 0;
    img {
    width: 22vw;
    margin: 0 auto;
  }}

  .contact {
    font-size: 1.3rem;
    font-weight: bold;

    .company,
    .address,
    .email {
      margin-bottom: 20px;
    }

    .company {
      display: none;
    }
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 10px;

    .platform {
      background: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 15px;
      }

      svg {
        fill: $purple;
        width: 40px;
        height: 40px;
      }

      &.li {
        border-radius: 0;
      }

      &:hover svg {
        fill: $seagreen;
        cursor: pointer;
      }
    }
  }
}

#copyright {
  display: block;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: #7f94c7;
  padding: 20px 0;
  text-align: center;
}

@media (min-width: $large) {
  footer {
    flex-flow: row nowrap;
    text-align: left;
    padding: 20px 50px;

    .logo {
      margin-top: 0;
      padding: 20px 0;
      img {
        max-width: 320px;
        margin: 0 auto;
        display: block;
      }
    }

    .logo,
    .contact,
    .social {
      width: 33%;
    }

    .contact {
      .company {
        display: block;
      }

      > div {
          width: 50%;
          margin: 0 auto;
      }
    }

    .social {
      align-self: flex-end;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  #copyright {
    text-align: left;
    padding: 20px 50px;
  }
}
