@import './colors.scss';

#introducing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    color: $purple;

    .left {
        display: flex;
        flex-flow: column nowrap;

        h1 {
            font-size: 3rem;
            padding-bottom: 10px;
            span {
                font-size: 4rem;
            }
        }
    
        p {
            font-size: 1.1rem;
            font-weight: bold;
            padding-bottom: 10px;
        }

        a {
            text-decoration: none;
            align-self: flex-end;
            margin-right: 35px;
        }

        div.button.learn-more {
            background: $purple;
            display: inline-block;
            padding: 25px 65px;
            border-radius: 15px;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .right img {
        width: 420px;
    }
    

    > div {
        max-width: 40%;
    }

}