* {
  font-family: "TradeGothic", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, a {
  user-select: none;
}

h1 {
  margin: 0;
  padding: 0;
}

section .section-title {
  color: white;
  text-align: center;
  padding: 25px 0;
  width: 100%;
  font-size: 3rem;
}