@import "./colors.scss";

header {
  font-size: 1.2rem;
  background-color: rgb(113, 179, 205);

  nav {
    padding: 10px 0;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    #nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 300ms;
      padding-bottom: 30px;
      opacity: 0;
      transform: scaleY(0);
      height: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      
      a {
        font-family: "AvantGardeBold";
        text-decoration: none;
        color: white;
        padding: 20px 0px;
        background-color: transparent;
        transform: scaleY(0);
        transition: background-color 200ms;

        &:hover {
          color: white;
          background-color: $purple;
        }
      }
    }

    #nav-links.show {
      display: flex;
      opacity: 1;
      transform: scaleY(1);
      height: inherit;

      a {
        width: 100%;
        text-align: center;
        transform: scaleY(1);
      }
    }

    img.logo {
      height: 35px;
      vertical-align: middle;
    }

    .menubars {
      align-self: center;
      cursor: pointer;
      display: block;
      position: absolute;
      top: 13px;
      right: 10px;

      svg {
        fill: white;
      }
    }
  }
}

@media (min-width: $large) {
  header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      img.logo {
        height: 75px;
        vertical-align: middle;
      }

      .menubars {
        display: none;
      }

      #nav-links,
      #nav-links.show {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        opacity: 1;
        transform: scaleY(1);
        height: inherit;
        padding: 0;

        a {
          margin-right: 55px;
          width: initial;
          border-bottom: 2px solid transparent;
          padding: 0;
          transform: scaleY(1);

          &:last-child{
              margin-right: 0;
          }

          &:hover {
            background-color: transparent;
            border-color: white;
          }
        }
      }
    }
  }
}
