@import "./colors.scss";

$speed: 300ms;

#services {
  padding-bottom: 40px;

  .section-title {
    background: $seagreen;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    color: $purple;
    width: 100%;
    margin: 0 auto;

    a {
      color: $purple;
      text-decoration: none;
      text-align: center;
      width: 100%;
      margin: 0;
    }

    .card {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      width: 100%;
      cursor: pointer;
      transition: transform $speed ease-in;
      transform: scale(1);

      .title {
        text-align: center;
        white-space: nowrap;
      }

      img.circle {
        width: 35vw;
        transition: transform $speed ease-out, box-shadow $speed ease-out;
        transform: scale(1);
        margin: 40px auto 15px auto;
        border-radius: 50%;
        border: 2px solid white;
      }

      &:hover {
        transform: scale(1.05);
        img.circle {
          border: 2px solid $lightgrey;
          box-shadow: 0 0 10px black;
        }
      }
    }
  }
}

@media (min-width: $medium) {
  #services {
    padding-bottom: 70px;
    .cards {
      flex-flow: row wrap;
      a {
        width: 34%;
      }

      .card {
        img.circle {
          margin: 50px auto 15px auto;
          width: 30vw;
        }
      }
    }
  }
}

@media (min-width: $xlarge) {
  #services {
    padding-bottom: 40px;
    .cards {
      flex-flow: row wrap;

      a {
        max-width: 24%;
      }

      .card {
        img.circle {
          width: 12vw;
        }
      }
    }
  }
}
