@import './colors.scss';

#team {
    h1 { 
        color: white;
        text-align: center;
        padding: 75px 0;
        width: 100%;
        background: $purple;
        font-size: 3rem;
    }

    .members {
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        flex-flow: row wrap;

        .member {
            width: 45%;
            .image {
                border-radius: 10px;
                width: 100%;
            }

            .name {
                font-weight: bold;
                font-size: 1.2rem;
            }

            .title {
                font-style: italic;
                font-weight: bold;
            }

        }
    }
}

@media (min-width: $medium) {
    #team {
        .members .member {
            width: 35%;
        }
    }
}

@media (min-width: $large) {
    #team {
        .members .member {
            width: 20%;
        }
    }
}