{{ define "main" }}
{{.Content}}
<div class="full-height-section section-1">
  <div class="container">
    <h1 class="about-title">
      We are <i class="highlight-text-pink space-mono-text">Team Raft</i>.
      Together, we're building the sharpest digital solutions and solving the
      most complex problems, while
      <i class="highlight-text-purple space-mono-text">having fun</i>.
    </h1>
  </div>
  <img src="/images/about/wave-about-top.svg" class="about-wave-top" />
</div>

<div class="full-height-section blur-about-top">
  <img src="/images/about/wave-about-bottom.svg" class="about-wave-bottom" />
  <div class="container pt-5">
    <div class="row bm-250">
      <div class="col-lg-6 col-md-12 mb-5">
        <div class="sticky-text">
          <h2 class="mb-4">
            {{.Params.why_paragraph}}
          </h2>
          <!--<p><a href="">Learn about our culture</a></p>-->
        </div>
      </div>
      <div class="col-md-1 d-xs-none"></div>
      <div class="col-lg-5 col-md-12">
        <h4 class="text-block-title">{{.Params.why_title}}</h4>

        {{range .Params.why_list}}
          <div class="text-block">
            <p class="bracket">{{.title}}</p>

            <p>
              {{.content}}
            </p>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</div>

<div class="full-height-section blur-about-bottom blur-about-video-top">
  <div class="container">
    <div class="row bm-250 flex-md-row flex-sm-column-reverse">
      <div class="col-xl-8 col-12-md">
        <div class="row bm-250">
          {{range site.Data.leadership}} 
            {{range sort . "weight"}}
            <div class="col-xl-6 col-md-6 col-sm-12">
              {{ partial "rafter.html" . }}
            </div>
            {{end}} 
          {{end}}
        </div>
      </div>
      <div class="col-xl-4 col-md-12">
        <div class="sticky-text">
          <h2>{{.Params.leadership_title}}</h2>
          {{.Params.leadership_paragraph | markdownify}}
          <p class="my-5">
            <a
              href="https://boards.greenhouse.io/raft"
              target="_blank"
              rel="no-follow no-referrer"
              class="raft-btn"
              >Join Team Raft</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-height-section blur-about-video-bottom">
  <div class="container">
    <div class="row bm-250">
      <div class="col-12">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="{{.Params.video}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "wave-footer.html" . }}

{{ end }}

{{ define "scripts" }}
<script>
  const rafters = document.querySelectorAll(".rafter");
  const clearActiveRafter = (selected) => {
    rafters.forEach((rafter, index) => {
      if (selected !== index) {
        rafter.classList.remove("active");
      } else if (selected === index && rafter.classList.contains('active')){
        rafter.classList.remove("active");
      } else {
        rafter.classList.add("active");}
    });
  }
  rafters.forEach((rafter, index) => {
    rafter.addEventListener("click", () => {
      clearActiveRafter(index);
    });
  });
</script>
{{ end }}
