<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            {{if eq .Params.draft true}}
                <div class="alert alert-warning" role="alert">
                This page is in draft mode, it will not be visible in the public site until it is approved.
                </div>
            {{end}}
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
        {{ block "scripts" . }}{{ end }}
        {{- partial "google-analytics.html" . -}}
        {{ partial "netlify.html" . }}
    </body>
</html>
