.space-mono-font {
    @include space-mono-headers;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.2em;
}

.space-mono-text {
    font-family: 'Space Mono';
}

.ubuntu-text {
    font-family: 'Ubuntu', sans-serif;
}