.header-video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.gradient-text-tb {
  background: $linear-gradient-top-bottom;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.focus-area-link {
  color: $text-white;
  text-decoration: none;
  &:hover {
    .bracket-link {
      &::before {
        content: "[ ";
        visibility: visible !important;
      }
      &::after {
        content: " ]";
        visibility: visible !important;
      }
    }
  }
  .highlight-text-pink {
    color: $vibrant-pink;
  }
  .bracket-link {
    color: $text-white;
  }

  &:hover {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -30px;
      background-image: url(/images/homepage/arrow.svg);
      width: 24px;
      height: 65px;
      background-repeat: no-repeat;
    }
    color: $primary-links;
    i {
      color: $text-white;
    }
    p {
      color: $text-white;
      text-decoration: none;
    }
  }
}

.home-section-1,
.home-section-2,
.home-section-3,
.home-section-4 {
  width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
}

.full-height-section {
  min-height: 100vh;
  margin: 0 -54px;
  width: calc(100% + 108px);
  display: flex;
  align-items: center;
  position: relative;
}

.home-section-1 {
  position: relative;
  overflow: hidden;
  margin: 0 -54px;
  width: calc(100% + 108px);

  h1 {
    color: $text-white;
  }
}

.home-section-2 {
  position: relative;
  padding-top: 200px;
  width: calc(100% + 108px);
  margin: 0 -54px;
  &::before {
    background-image: url(/images/homepage/blur-home.svg);
    filter: blur(300px);
    max-width: 940px;
    max-height: 708px;
    content: "";
    left: calc(50% - 470px);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &::after {
    background-image: url(/images/homepage/bg-shapes.svg);
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.home-section-3 {
  margin: 0 -54px;
  width: calc(100% + 108px);

  .home-section-3-wave {
    position: absolute;
    z-index: -1;
  }
}

.home-section-4 {
  background-image: url(/images/homepage/statement-bg.svg);
  min-height: 64vh;
}

.text-block {
  height: 40vh;

  h4 {
    margin-bottom: 40px;
  }
  h5 {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 64px;
  }
}

.text-block-title {
  margin-bottom: 3.5rem;
}

.client {
  cursor: default;
  p {
    visibility: hidden;
  }
  &:hover {
    p {
      visibility: visible;
    }
  }
  img {
    width: auto;
    height: 100px;
  }
}

.bracket {
  line-height: 24px;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0 !important;
  font-family: 'Space Mono';
  &::before {
    color: $vibrant-pink;
    content: "[ ";
  }
  &::after {
    color: $vibrant-pink;
    content: " ]";
  }
}

.highlight-text-pink {
  color: $vibrant-pink;
}

.highlight-text-purple {
  color: $primary-links;
}

.section-1 {
  margin-top: -130px;
}

.use-case-link {
  text-decoration: none;
  color: $text-white;
  position: relative;
  font-size: 30px;
  img {
    display: none;
  }

  &:hover {
    .space-mono-text {
      background: $linear-gradient-top-bottom;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    img {
      position: absolute;
      right: -637px;
      top: -215px;
      display: block;
    }
  }
}

.sticky-text {
  position: sticky;
  top: 200px;
}

.bracket-link {
  text-decoration: underline;
  &::before {
    content: "[ ";
    visibility: hidden;
  }
  &::after {
    content: " ]";
    visibility: hidden;
  }
  &:hover {
    text-decoration: none;
    &::before {
      content: "[ ";
      visibility: visible !important;
    }
    &::after {
      content: " ]";
      visibility: visible !important;
    }
  }
}

.video-gradient {
  background: linear-gradient(
    180deg,
    rgba(19, 19, 19, 0) 0%,
    rgba(19, 19, 19, 1) 80%
  );
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
