---
layout: default
paramlink: {{ page.link_url }}
---

<div id="hero" class="profile site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.header }}</h1>
  </div>
</div>

<div id="profile" class="wrapper">
  <div><a id="back" href='/about#team'>
    <span>&#8592;</span>Our Team</a>
  </div>
  <h1 id='name'>{{page.full_name}}</h1>
  {% if page.role %}<h2 id='role'>{{page.role}}</h2>{% endif %}
  
  <div class="about-row">
    <div id="col-1" class="about-col">
      {%if page.image %}
        <img id='image' style="width: 400px; height: 400px;" src="/assets/profiles/{{page.image}}"/>
      {% else %}
        <object type="image/svg+xml" style="width: 400px; height: 400px;" data="/assets/profiles/r_animated.svg"></object>
      {% endif %}
      <ul id='links'>
        {% if page.github %}
          <li id='github'><a href="{{page.github}}" target="_blank" rel="noopener noreferrer">
            <img src='/assets/profiles/icon-github.png' >
          </a></li>
        {% endif %}
        {% if page.linkedin %}
          <li id='linkedin'><a href="{{page.linkedin}}" target="_blank" rel="noopener noreferrer">
            <img src='/assets/profiles/icon-linkedin.png' >
          </a></li>
        {% endif %}
        {% if page.homepage %}
          <li id='homepage'><a href="{{page.homepage}}" target="_blank" rel="noopener noreferrer">
            <img src='/assets/profiles/icon-globe.png' >
          </a></li>
        {% endif %}
      </ul>
    </div>
    <div class="about-col">
      <p id="about">{{page.about}}</p>
    </div>
  </div>
</div>
