---
layout: default
---

<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.header }}</h1>
  </div>
</div>

<div class="wrapper">
  <article class="post-content">
    {% include /data/about_our_approach.html %}
  </article>
</div>

<div class="invert">
  <div class="wrapper">
    <article class="post-content">
      {% include /data/about_why_go_raft.html %}
    </article>
  </div>
</div>

<div class="wrapper">
  <article class="post-content">
    {% include /data/about_experince.html %}
  </article>
</div>

<div class="invert">
  <div id="team">
    <div class="wrapper">
      <h3>Our Team</h3>
      <!-- <div id="map" style="margin-bottom: 2rem; height: 400px;"></div> -->
      {% assign members_with_images = site.data.members %}
      <ul class="members">
        {% for member in members_with_images %}
        {% if member.image != null %}
        <li class="member">
          <a class="member-card" href="/about/{{member.id}}">
            <div class='plus-icon'>+</div>
            <img src="/assets/profiles/{% if member.image %}{{member.image}}{% else %}r_static.svg{% endif %}"
              alt="{{member.name}}">
            <div class='header'>
              <h4 class='name'>{{member.full_name}}</h4>
              {% if member.role %}<h5 class='role'>{{member.role}}</h5>{% endif %}
            </div>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <ul class="members">
        {% for member in members_with_images %}
        {% if member.image == null %}
        <li class="member">
          <a class="member-card" href="/about/{{member.id}}">
            <div class='plus-icon'>+</div>
            <img src="/assets/profiles/{% if member.image %}{{member.image}}{% else %}r_static.svg{% endif %}"
              alt="{{member.name}}">
            <div class='header'>
              <h4 class='name'>{{member.full_name}}</h4>
              {% if member.role %}<h5 class='role'>{{member.role}}</h5>{% endif %}
            </div>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>