---
layout: default
---

<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.header }}</h1>
  </div>
</div>

<div class="wrapper">
  <article class="post-content">
    {% include /data/about_our_approach.html %}
  </article>
</div>

<div class="invert">
  <div class="wrapper">
    <article class="post-content">
      {% include /data/about_why_go_raft.html %}
    </article>
  </div>
</div>

<div class="wrapper">
  <article class="post-content">
    {% include /data/about_experince.html %}
  </article>
</div>

<div class="leadership">
  <div class="wrapper">
    <h3>Our Leadership</h3>
    <div class="aboutCEOrow">
      <div class="ceoImage">
        <img src="{{ page.ceoImage | prepend: site.baseurl }}" alt="{{ page.ceoName }}"/>
        <h5>{{ page.ceoName }}</h5>
      </div>
      <div class="ceoText">
        {{ page.aboutCEO }}
      </div>
    </div>
  </div>
</div>
