---
layout: default
---

<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title blog"> <i>"{{ page.header }}" - Richard Feynman</i></h1>
  </div>
</div>

<div class="home">


  {{ content }}

  {%- if site.posts.size > 0 -%}

    <div class="container">
      <div class="row">
      {% for post in site.posts %}
        {% include article_index.html %}
      {% endfor %}
      </div>
      <!-- {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}" style="color: #2a7ae2">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}-->
    </div>

  {%- endif -%}

</div>
