---
layout: default
---   
<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.header }}</h1>
  </div>
</div>

<div class="wrapper">
  <article class="post-content">
    {% include /data/work_vehicles.html %}
  </article>
</div>

<!-- <div class="invert">
  <div class="wrapper">
    <article class="post-content">
      {% include /data/about_why_go_raft.html %}
    </article>
  </div>
</div> -->
<div class=invert>
<div class="wrapper contact invert">
<div class="page">

  <div class="row">
    <div class="contact-icons">
        <i class="fa fa-phone contact-icons"></i>(571)-526-4106
      <br>
        <i class="fa fa-envelope contact-icons"></i>info@goraft.tech
        <br>
        <i class="fa fa-map-marker contact-icons"></i>1801 Reston Pkwy<br>Suite #102<br>Reston, VA 20190
    </div>

<div id="map" style="height: 500px; width: 100%"></div>    
  </div>

  <form
    action="https://formspree.io/meqaobep"
    method="POST"
  >
    <label>
      Your email:
      <input type="text" name="_replyto">
    </label>
    <label>
      Subject:
      <input type="text" name="_subject">
    </label>
    <label>
      Your message:
      <textarea name="message"></textarea>
    </label>

    <!-- your other form fields go here -->

    <button type="submit">Send</button>
  </form>

</div>
</div>
</div>
