---
layout: default
---

<div class="full-height-section section-1">
  <div class="container">
    <h1 class="about-title">
      Catch the wave of
      <i class="highlight-text-purple space-mono-text">C2 innovation </i>
      and dive deep into 
      <i class="highlight-text-pink space-mono-text">Raft culture</i>
    </h1>
  </div>
  <img src="/assets/images/about/wave-about-top.svg" class="about-wave-top" />
</div>

<div class="full-height-section blur-about-top">
  <img
    src="/assets/images/about/wave-about-bottom.svg"
    class="about-wave-bottom"
  />
  <div class="container pt-5">
    <div class="row bm-250">
      <div class="col-lg-6 col-md-12 mb-5">
        <div class="sticky-text">
          <h2 class="mb-4">
            Our 
            <i class="highlight-text-purple space-mono-text">commitment</i>
            to radical transparency 
            and relentless mission obsession empowers 
            us to bridge the gap between humans and data, 
            driving 
            <i class="highlight-text-purple space-mono-text">unprecedented success.</i>
          </h2>
        </div>
      </div>
      <img src="/assets/images/focus-areas/raft-r.svg" class="raft-r" style="bottom: 20px; left: 20%" />
      <div class="col-md-1 d-xs-none"></div>
      <div class="col-lg-5 col-md-12">
        <div class="text-block">
          <p class="bracket">
            What do we do?
          </p>

          <p>
            With a relentless pursuit of maturing 
            groundbreaking engineering approaches 
            and innovative solutions, we fearlessly 
            tackle complex national security 
            challenges, driving transformative 
            shifts and safeguarding our nation 
            while propelling it toward a fortified future.
          </p>
        </div>
        <div class="text-block">
          <p class="bracket">
            How do we do it?
          </p>

          <p>
            Raft's exponential success can be attributed 
            to a powerful combination of key factors that 
            set us apart, and move us forward.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-height-section blur-about-bottom blur-about-video-top">
  <div class="container">
    <div class="row bm-250 flex-md-row flex-sm-column-reverse">
      <div class="col-xl-5 col-12-md">
        <div class="text-block">
          <p class="white-bracket rafter-factor">
            RAFTER FACTOR #1
          </p>
          <h2 class="gradient-pink-to-purple-1 mb-5">
            We place customers at the center of everything we do
          </h2>
          <p>
            We place customers at the center of everything we do.
            By valuing all Rafters as individuals and customers, 
            we foster a culture of empathy, collaboration, and 
            excellence across all of Raft. We anticipate needs, 
            value feedback, and foster long-term partnerships.
          </p>
        </div>
        <div class="text-block">
          <p class="white-bracket rafter-factor">
            RAFTER FACTOR #2
          </p>
          <h2 class="gradient-pink-to-purple-2 mb-5">
            People make Raft special
          </h2>
          <p>
            At Raft, our core philosophy is 
            <i class="highlight-text-pink">Ubuntu</i>
            : I am, because we are. 
            We uplift our "nadi" by empowering and valuing fellow Rafters. 
            Our hyper-collaborative team thrives on diverse perspectives 
            that bring forth new perspectives, ideas, and values. 
            We celebrate each other and the richness of our cognitive and 
            cultural diversity.
          </p>
        </div>
        <div class="text-block">
          <p class="white-bracket rafter-factor">
            RAFTER FACTOR #3
          </p>
          <h2 class="gradient-pink-to-purple-3 mb-5">
            We walk the walk
          </h2>
          <p style="margin-bottom: 1rem;">
            If you share these values, you will have a blast working at Raft.
            <ol type="1">
              <li>No Judgement: We don't judge, period</li>
              <li>Complete Ownership: We proudly roll-up our sleeves to get “it” done.</li>
              <li>Radical Transparency: We never hesitate to ask “why”.</li>
              <li>True Humility: We check our ego at our door.</li>
              <li>Embrace Community: We are a team with shared resources. We jump in to help other Rafters and we never hesitate to contribute outside our swim lane.</li>
              <li>Continuously Grow: We are always learning, professionally and personally. We invest in blameless and vulnerable retrospectives that surface actionable outcomes.</li>
            </ol>  
          </p>
        </div>
        <div class="text-block">
          <p class="white-bracket rafter-factor">
            RAFTER FACTOR #4
          </p>
          <h2 class="gradient-pink-to-purple-4 mb-5">
            We never follow; we always question
          </h2>
          <p>
            We are engineers of the future. We take bleeding edge technologies 
            and mature them to 
            <a href="https://boringtechnology.club/">boring technologies</a>
            so we can manage scale in 
            the complex environments we support. We are artists of change. 
            We are dedicated to building solutions that actually work.
          </p>
        </div>
      </div>
      <div class="col-md-1 d-xs-none"></div>
      <div class="col-xl-6 col-md-12">
        <div class="sticky-text">
          <div class="video-container">
            <iframe
              width="560"
              height="315"
              src="https://youtube.com/embed/2psdrE9gZPs"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              class="video"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-height-section blur-about-bottom blur-about-video-top">
  <div class="container">
    <div class="row bm-250 flex-md-row flex-sm-column-reverse">
      <div class="col-xl-6 col-md-12">
        <div class="sticky-text" style="margin-bottom: 500px;">
          {% include photo-stack.html %}
        </div>
      </div>
      <div class="col-md-1 d-xs-none"></div>
      <div class="col-xl-5 col-12-md">
        <div class="text-block">
          <p class="white-bracket rafter-factor">
            RAFTER FACTOR #5
          </p>
          <h2 class="gradient-pink-to-purple-1 mb-5">
            We are a team, not a family
          </h2>
          <p>
            We have a high Performance Culture. Our 
            commitment to outperform is driven by a 
            genuine dedication to our customer's 
            missions and the profound impact our 
            work has on the safety and sanctity of 
            our way of life. We are proud of what 
            we can do, and we demand extraordinary 
            performance to help us win.
          </p>
        </div>
        <div class="text-block">
          <p class="white-bracket rafter-factor">
            RAFTER FACTOR #6
          </p>
          <h2 class="gradient-pink-to-purple-2 mb-5">
            A great workplace is shaped by the caliber of our Rafters
          </h2>
          <p>
            Therefore we hire exceptional talent. From 
            top academic communities to the heroic 
            veterans who fight with laptops and camo,
            our team represents a diverse superpower. 
            Rafters learn from each other and continuously 
            grow by expanding their knowledge graphs.
          </p>
        </div>
        <div class="text-block">
          <p class="white-bracket rafter-factor">
            RAFTER FACTOR #7
          </p>
          <h2 class="gradient-pink-to-purple-3 mb-5">
            Geographical constraints are a thing of the past!
          </h2>
          <p>
            Take your meetings wherever inspires you, 
            as our collaborative work sessions fuel 
            creativity and breakthrough innovation. 
            While project dynamics may be influenced by 
            clearances and security parameters, for the 
            majority of Rafters, you have the freedom to 
            choose your location. Our Remote-First approach 
            wasn't born out of COVID but rather re-assured 
            after it.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-height-section blur-about-bottom blur-about-video-top">
  <div class="container">
    <div style="display: flex; align-items: end;"> 
      <img src="/assets/images/nav/nav-arrow-3.png" />
      <div>
        <h2 style="max-width: 60%;" class="mb-4">
          We offer
          <i class="highlight-text-pink">above</i>
          the market compensation + 100% Benefits
        </h2>
          <p class="bracket" style="text-transform: none;">
            We want great results and we pay for it
          </p>
      </div>
    </div>
    <div class="row bm-250" style="margin-top: 50px;">
      {% assign benefits = site.benefits | sort: "weight" %}
      {% for benefit in benefits %}
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="benefit-container">
          <img src="{{benefit.featimg}}" />
          <h6>{{benefit.title}}</h6>
          <p style="text-align: center;">{{benefit.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div style="margin: 0 -54px;width: calc(100% + 108px);">
  {% include raft-photo-marquee.html %}
</div>

<div class="culture-footer">
  <h2 class="gradient-pink-to-purple-1 mb-5">
    Be a part of the wave. Join Raft and our mission to 
    redefine emerging technology, engineering, and national security.
  </h2>
  <p class="my-5">
    <a
      href="https://boards.greenhouse.io/raft"
      target="_blank"
      rel="no-follow no-referrer"
      class="raft-btn"
      >Join Team Raft</a
    >
  </p>
</div>


