---
layout: default
---

<div class="container-fluid">
  <div class="container">
    <h1 class="about-title text-center">
      Our clients are change agents, early adopters, and operators who take on
      the toughest missions on earth.
    </h1>
  </div>
  <img src="/assets/images/focus-areas/wave-focus.svg" />
  <!-- <div id="waveframe"></div> -->
</div>

<div class="container bm-250">
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-5">
      <h2>
        We work with you to create and validate new approaches that are
        ultimately adopted as best practices across the government and industry.
      </h2>
    </div>
    <div class="col-md-6 d-none-sm"></div>
    <div class="col-md-6 d-none-sm"></div>
    <div class="col-md-6 col-sm-12 my-5">
      <h2>Digital Platforms at Scale</h2>
      <p>
        We build ecosystems for secure development and seamless deployment to
        the cloud, enterprise, or edge. We began our DevSecOps journey building
        vendor and cloud-agnostic CI/CD pipelines for the DoD and U.S.
        government's premier software factories. Today, we integrate least trust
        security into platform operations and architect automated solutions for
        airgapped environments, cross-domain ecosystems, and the contested edge.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 my-5">
      <h2>Complex App Development</h2>
      <p>
        We build ecosystems for secure development and seamless deployment to
        the cloud, enterprise, or edge. We began our DevSecOps journey building
        vendor and cloud-agnostic CI/CD pipelines for the DoD and U.S.
        government's premier software factories. Today, we integrate least trust
        security into platform operations and architect automated solutions for
        airgapped environments, cross-domain ecosystems, and the contested edge.
      </p>
      <p>
        We leverage open architectures, open standards, and open-source software
        to build future proof systems that leverage best-in-breed technologies
        and private sector investment to deliver greater-then-incremental
        performance improvements at best value. Containerized,
        microservice-based, and modular architectures are our jam.
      </p>
    </div>
    <div class="col-md-6 d-none-sm"></div>
  </div>
</div>

{% include wave-footer.html %} {% include threejs.html %}
