---
layout: default
---

<div class="full-height-section section-1">
  <div class="container">
    <h1 class="about-title">
      Our clients are
      <i class="space-mono-text highlight-text-pink">change agents</i>, early
      adopters, and operators who take on the toughest missions on earth.
    </h1>
  </div>
  <img
    src="/assets/images/focus-areas/wave-focus.svg"
    class="focus-area-wave"
  />
  <!-- <div id="waveframe"></div> -->
</div>

<div class="full-height-section justify-content-center blur-1-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-5">
        <h2>
          We work with you to create and validate new approaches that are
          ultimately adopted as best
          <span class="ubuntu-text highlight-text-purple">practices</span>
          across the government and industry.
        </h2>
      </div>
      <div class="col-md-6 col-sm-12 mb-5"></div>
    </div>
  </div>
  <img src="/assets/images/focus-areas/raft-r.svg" class="raft-r" />
</div>

<div class="full-height-section blur-1-top" id="data-ai">
  <div class="container">
    <div class="row flex-md-row flex-sm-column-reverse">
      <div class="col-md-5 col-sm-12 my-5">
        <div class="text-block">
          <p class="bracket">
            Decentralized Architectures and
            Federated Data Governance
          </p>
          <p>
            Decentralized approaches that leverage data “as is” and “where it
            is” match the complexity of the DoD’s heterogeneous data landscape.
            We weave together data fabric, data mesh, and data lakehouse design
            patterns to implement federated data ecosystems to unify data
            governance, democratize data access and use, and enable data
            integration and sharing from the enterprise to the edge.
          </p>
        </div>

        <div class="text-block">
          <p class="bracket">
            Data Science
          </p>
          <p>
            We are nerds for the math and statistics at the core of data science
            and machine learning models. We have end-to-end experience framing
            AI and data science efforts, developing and validating data-driven
            decision-making models, and implementing MLOps pipelines to augment
            sensemaking, tighten decision timelines, and realize operational
            efficiencies.
          </p>
        </div>

        <div class="text-block">
          <p class="bracket">
            Responsible AI
          </p>
          <p>
            Our contributions to Trusted AI and Data Governance are informed by
            our work building human-centered AI systems for critical missions.
            We develop and validate useful criteria and metrics to evaluate that
            the AI and Decision Intelligence systems we build abide by policies
            and principles for ethical use of AI. We advise our clients and
            leaders in government, industry, and the international community on
            the responsible and ethical use of AI.
          </p>
        </div>
      </div>

      <div class="col-md-1 d-xs-none"></div>

      <div class="col-md-6 col-sm-12 my-5">
        <div class="sticky-text">
          <h2>Data and Artificial Intelligence</h2>
          <p>
            We are architects of the data-centric and AI era. We have end-to-end
            experience working with government and commercial partners to
            establish sustainable data governance strategies, build federated
            data platforms, and adopt human-centered AI systems that reduce
            cognitive load and augment decision making. We believe in AI for
            good and are leading contributors in trustworthy and responsible AI.
          </p>
        </div>
      </div>
    </div>
  </div>

  <img src="/assets/images/focus-areas/shapes-top.svg" class="image-bottom" />
</div>

<div class="full-height-section blur-2-bottom" id="digital-platforms-at-scale">
  <img src="/assets/images/focus-areas/shapes-bottom.svg" class="image-top" />
  <div class="container bm-250">
    <div class="row">
      <div class="col-md-6 col-sm-12 my-5">
        <div class="sticky-text">
          <h2>Digital Platforms at Scale</h2>
          <p>
            We build ecosystems for secure development and seamless deployment
            to the cloud, enterprise, or edge. We began our DevSecOps journey
            building vendor and cloud-agnostic CI/CD pipelines for the DoD and
            U.S. government's premier software factories. Today, we integrate
            least trust security into platform operations and architect
            automated solutions for airgapped environments, cross-domain
            ecosystems, and the contested edge.
          </p>
        </div>
      </div>

      <div class="col-md-1 d-xs-none"></div>

      <div class="col-md-5 col-sm-12 my-5">
        <div class="text-block">
          <p class="bracket">
            Open Software and Open Architecture
          </p>
          <p>
            We leverage open architectures, open standards, and open-source
            software to build future proof systems that leverage best-in-breed
            technologies and private sector investment to deliver
            greater-than-incremental performance improvements at best value.
            Containerized, microservice-based, and modular architectures are our
            jam.
          </p>
        </div>
        <div class="text-block">
          <p class="bracket">
            Continuous Integration & Delivery
          </p>
          <p>
            DevSecOps and Continuous Integration/Continuous Delivery accelerate
            timelines for software updates and upgrades from years to days – to
            deliver new capabilities at the speed of need.
          </p>
        </div>

        <div class="text-block">
          <p class="bracket">
            Edge-first Architectures
          </p>

          <p>
            We have unparalleled experience designing and modernizing
            operational DoD systems for the cloud. Yet, we understand that
            operational missions require deployment on premises and at the
            contested edge. We architect our digital stacks for deployment to
            the edge; resilient operations under DDIL conditions; and seamless
            integration between the enterprise, cloud, and fog.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img
    src="/assets/images/focus-areas/data-shapes-top.svg"
    class="image-bottom"
  />
</div>

<div class="full-height-section blur-2-top" id="complex-software-apps">
  <img
    src="/assets/images/focus-areas/data-shapes-bottom.svg"
    class="image-top"
  />
  <div class="container">
    <div class="row flex-md-row flex-sm-column-reverse">
      <div class="col-md-5 col-sm-12 my-5">
        <div class="text-block">
          <p class="bracket">
            Cloud-Native
          </p>
          <p>
            Cloud-native is not just a buzzword to us; it is said that "culture
            eats strategy for breakfast." We have cultivated a culture of
            automation, orchestration, and platform security. Our team
            integrates infrastructure as code, open-source software, and site
            reliability engineering, and expertise to manage scalable clusters.
          </p>
        </div>

        <div class="text-block">
          <p class="bracket">
            Legacy Integration
          </p>
          <p>
            We are technical and creative experts in integration with legacy
            systems and experienced in managing the technical and non-technical
            barriers and opportunities associated with digital modernization.
          </p>
        </div>
        <div class="text-block">
          <p class="bracket">
            Domain-Driven Design
          </p>
          <p>
            We know that domain experts, operators, end users, and engineers all
            speak different languages. We train our engineers to bridge those
            gaps by establishing common understanding and using domain-specific
            terms of reference tailored to our clients’ mission. This ensures
            collaborative cooperation, prevents programming discrepancies, and
            reduces project risks.
          </p>
        </div>
      </div>

      <div class="col-md-1 d-xs-none"></div>

      <div class="col-md-6 col-sm-12 my-5">
        <div class="sticky-text">
          <h2>Complex Software Applications</h2>
          <p>
            We work on advanced features and functionality that require
            specialized skills in software architecture, UX/UI design, and
            automated testing. We work closely with operators and end users to
            transform mission workflows and modernize legacy applications and
            data systems for speed, security, and scale.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12 col-lg-6 text-start">
      <h3>View Our Case Studies</h3>
    </div>
    <div class="col-sm-12 col-lg-6 text-end">
      <a href="/case-studies">View all cases</a>
    </div> 
  </div>
  <div class="row mt-5 justify-content-center">
    {% for post in site.case_studies %}
      {% include article-thumbnail.html %}
    {% endfor %}
  </div>
</div> -->


<!-- {% include threejs.html %} -->
