---
layout: default
---

<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.header }}</h1>
  </div>
</div>

<div class="wrapper">
  <article class="post-content">
    {% include /data/join_fun.html %}
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Jg1T4qZik_A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>
    </div>
  </article>
</div>

<div class="invert">
<div class="wrapper">
  <article class="post-content">
    {% include /data/join_looking_for.html %}
  </article>
</div>
</div>


<div class="wrapper">
  <article class="post-content">
    {% include /data/join_interview_process.html %}
  </article>
</div>
