---
layout: default
---

<div class="container">
  <div class="row flex-wrap-reverse">
    <div class="col-lg-7 col-md-12 content-column">

      <h1>{{ page.title }}</h1>
      
        {% if page.subtitle != nil %}
        <h3>{{page.subtitle}}</h3>
        {% endif %}

        {% for author in  site.about %}
          {% if author.full_name == page.author %}
            {% assign author_url = author.permalink %}
            <h5 class="mb-5">{{ page.date | date: "%B %-d, %Y" }} | Words by <a href="{{author_url}}">{{ page.author }}</a></h5>
          {% endif %}
        {% endfor %}

        {{content}}
    </div>
    <div class="col-1"></div>
    <div class="col-lg-4 col-md-12 mb-5 sidebar-column">
      <img src="{{page.featimg}}" alt="{{page.title}}">
    </div>
  </div>
</div>
<img src="/assets/images/blog/well-make-waves-banner.png" alt="We'll make waves together." class="well-make-waves my-5" />
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <hr/>
      <p class="related-content">You may also be interested in</p>
    </div>
  </div>
  <div class="row justify-content-center">

  {% for post in site.posts limit: 3 %}
    {% include article-thumbnail.html %}
  {% endfor %}
    
  </div>
</div>
