---
layout: default
---

<div class="reading-progress"></div>
<div class="container">
  <div class="row flex-wrap-reverse">
    <div class="col-lg-7 col-md-12 content-column">
      <h1>{{ page.title }}</h1>

      {% if page.subtitle != nil %}
      <h3>{{page.subtitle}}</h3>
      {% endif %} {% for author in site.about %} {% if author.full_name ==
      page.author %} {% assign author_url = author.linkedin %} {% endif %} {%
      endfor %}

      <h5 class="mb-5">
        {{ page.date | date: "%B %-d, %Y" }} | Words by {% if author_url %}<a
          href="{{author_url}}"
          target="_blank"
          rel="no-follow no-referrer"
          >{{ page.author }}</a
        >{% else %}{{ page.author }}{% endif %}
      </h5>

      {{content}}
    </div>
    <div class="col-1"></div>
    <div class="col-lg-4 col-md-12 mb-5 sidebar-column">
      <div class="sticky-text">
        <img src="{{page.featimg}}" alt="{{page.title}}" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <hr />
      <p class="related-content">You may also be interested in</p>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for post in site.posts limit: 3 %} {% include article-thumbnail.html %}
    {% endfor %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/scrollpup@0.0.1/dist/scrollpup.min.js"></script>
<script>
  scrollpup({
    background: "linear-gradient(267.17deg, #C52EA3 7.53%, #4749CA 104.95%)",
    height: "10px",
  })
</script>
