---
layout: default
---

<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.header }}</h1>
  </div>
</div>

<div class="services-page">

  <h2 class="service-h2">{{ page.pageTitle }}</h2>
  <div class="first">
    <div class="row">
      {% assign count = 0 %}
      {% for srv in page.services %}
        <div class="col service-border">
          <div class="row">
            <div class="col-2 service-logos"><img class="service-img" src="{{ site.baseurl }}{{ srv[1]["img"] }}"/></div>
            <div class="col service-txt"><h3 class="service-h3">{{ srv[1]["head"] }}</h3>{{ srv[1]["txt"] }}</div>
          </div>
        </div>
        {% cycle '', '</div><div class="row">' %}
      {% endfor %}
    </div>
  </div>

  <h2 class="service-h2">{{ page.pageTitle2 }}</h2>

  <div class="second">
    <div class="row">
      {% assign count = 0 %}
      {% for exp in page.experiences %}
      <div class="exp">
        <div class="col service-txt"><h3 class="service-h3">{{ exp[1]["head"]}}</h3>{{exp[1]["text"]}}</div>
        
      </div>
      {% endfor %}
    </div>
  </div>

</div>
