---
layout: default
---

<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.title }}</h1>
  </div>
</div>

<div class="wrapper">
<div class="page">

  <div class="row">
    {% assign count = 0 %}
    {% for srv in page.services %}
      <div class="col">
        <div class="row">
          <div class="col-4"><img src="{{ site.baseurl }}{{ srv[1]["img"] }}"/></div>
          <div class="col">{{ srv[1]["txt"] }}</div>
        </div>
      </div>
      {% cycle '', '</div><div class="row">' %}
    {% endfor %}
  </div>

</div>
</div>
