---
layout: default
---

<div id="hero" class="site-header-container {% if page.featimg %}has-cover{% endif %} about-hero" {% if page.featimg %}style="background-image: url({{ page.featimg | prepend: site.baseurl }});"{% endif %}>
  <div class="about-cover scrim">
    <h1 class="hero-header title"> {{ page.header }}</h1>
  </div>
</div>

<div class="row work">
  <article class="post-content">
    {% include /data/work_one.html %}
  </article>
</div>

<div class="row work">
    <article class="post-content">
      {% include /data/work_two.html %}
    </article>
</div>


<div class="row work">
    <article class="post-content">
      {% include /data/work_three.html %}
    </article>
</div>

<div class="row work">
    <article class="post-content">
      {% include /data/work_four.html %}
    </article>
</div>


