{{ $pag := $.Paginator }}

{{ if gt $pag.TotalPages 1 }}
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
    <li class="page-item">
        <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} class="page-link" {{ if not $pag.HasPrev }} disabled{{ end }}  aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{ $.Scratch.Set "__paginator.ellipsed" false }}
    {{ range $pag.Pagers }}
    {{ $right := sub .TotalPages .PageNumber }}
    {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
    {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
    {{ if $showNumber }}
        {{ $.Scratch.Set "__paginator.ellipsed" false }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
    {{ else }}
        {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
        {{ $.Scratch.Set "__paginator.ellipsed" true }}
    {{ end }}
    {{ if $showNumber }}
    <li class="page-item">
        <a class="page-link {{ if eq . $pag }}active{{end}}" href="{{ .URL }}" aria-label="Goto page {{ .PageNumber }}">
            {{ .PageNumber }}
        </a>
    </li>
    {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
    <li class="page-item"><span class="page-link">&hellip;</span></li>
    {{ end }}
    {{ end }}
    <li class="page-item">
    <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} class="page-link" {{ if not $pag.HasNext }}disabled{{ end }} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
</ul>
{{ end }}
  </nav>